[2020-02-18 15:54] gillpeacegood opened #20 "IDL Error with c++ project"
I've been trying to create a module by following the instructions, but I get an error processing my IDL file (see below):

Error | MIDL1002 | [msg]error while reading input file [context]: Error processing WinMD metadata. Interface Microsoft.ReactNative.IReactPackageProvider: Member CreatePackage: Method CreatePackage: Custom attribute Windows.Foundation.Metadata.NoExceptionAttribute: Custom attri

[2020-02-19 00:01] jonthysell commented on #20
Please make sure you've changed the project to use thr correct CppWniRt version:

From [native-modules-setup.md](https://github.com/microsoft/react-native-windows-samples/blob/master/docs/native-modules-setup.md):

[2020-02-20 09:14] gillpeacegood commented on #20
Yes I have this version.

[2020-02-24 09:51] tido64 opened #25 "Recommend using `npx` over installing react-native-cli globally"
According to React Native CLI [documentation](https://github.com/react-native-community/cli/blob/master/docs/init.md), you're not supposed to install `react-native-cli` globally any longer. The recommended approach is to use `npx`, e.g.:

[code]

[2020-02-24 14:22] gillpeacegood opened #26 "Expand the sample to show parameters/return types that are JSON"
I'ld find it really useful if you were able expand the sample modules to give examples of parameters and return types that are JSON. Eg in FancyMath maybe a complex.

At the moment in my code I'm using JSValue. I suppose that is the best way?

[2020-02-27 21:43] stmoy commented on #26
CC: @jonthysell

JSValue value is the interface that is used to pass around generic JSON objects that aren't strongly typed.

[2020-02-28 00:46] stmoy commented on #20
@gillpeacegood - double checking: is this error happening when you're building the native module sample here in `react-native-windows-samples` or in your actual app? I'm wondering if we should migrate this issue over to `react-native-windows` if it is a general platform issue.

[2020-02-28 10:33] gillpeacegood commented on #20
Its in my actual app, not the native module sample here - so yes perhaps

[2020-02-28 10:36] gillpeacegood commented on #26
Yeah I agree its the right call but to help other people not have to spend the amount of time I've spent looking for code samples and then at code itself would be useful to have a few examples

[2020-02-29 00:59] jonthysell commented on #26
I can look into writing some examples, but in the meantime, here are the unit tests:

https://github.com/microsoft/react-native-windows/blob/master/vnext/Microsoft.ReactNative.Cxx.UnitTests/JSValueTest.cpp

https://github.com/microsoft/react-native-windows/blob/master/vnext/Microsoft.ReactNative.Managed.UnitTests/JSValueTest.cs

[2020-03-02 12:03] japf opened #28 "Not found error while trying to follow the getting started guide"
I'm getting a "not found" error while following the getting started guide:

[code]

Changing the version parameter to `--version ^react-native@0.60.0` does work.
I'm not sure if this is the correct version, I created a PR if that's the case to change the docs.

cc @stmoy

[2020-03-02 12:08] japf commented on #28
Might be related to https://github.com/microsoft/react-native-windows-samples/issues/25

[2020-03-02 19:28] chrisglein commented on #28
@japf Is it safe to assume then that you used npx to install the CLI instead of doing it globally?

[2020-03-02 19:29] chrisglein commented on #25
@kikisaints Can you try the getting started steps using npx and confirm whether we're ready to change the recommended steps or not yet? And if we are, updated the documentation.

[2020-03-02 20:48] japf commented on #28
No, I didn't use npx. I followed exactly the doc, which states:

[here](https://microsoft.github.io/react-native-windows/docs/getting-started#install-react-native)

[2020-03-02 20:54] japf opened #29 "Where to add samples for the Popup component?"
I'm looking for a sample using the Popup component. It doesn't seem to exist as of now. What would be a good sample project to demonstrate the use of this component ?

Happy to submit a PR for this.

[2020-03-05 23:03] acoates-ms commented on #28
Looks like the react-native CLI doesn't do the right thing here:
https://github.com/react-native-community/cli/issues/1039

[2020-03-12 16:45] harinikmsft opened #32 "Add a C# sample"
A customer just pointed out that all samples we have in this repo are C++. We should add a simple C# one - even a copy of Calculator in C# would be fine.

[2020-03-12 20:33] kikisaints opened #34 "Publish WinUI controls parity doc"
There was a request from some customers that we keep track of and publish a controls parity sheet that tracks which RNW controls/community modules map to what WinUI controls.

I think that this is a good thing to have up publicly as well so this issue will track the work towards having a page like that up on the documentation site.l

[2020-03-12 20:34] kikisaints opened #35 "Update and publish Calculator app to Store"
This issue tracks the progress of taking an RNW app from test to complete app release to the store. In this case the suggested app to take to completion is the calculator app.

This app could also serve as a validation app for future releases.

[2020-03-12 20:37] kikisaints opened #36 "Update versions page to clarify release process"
The [versions page](https://microsoft.github.io/react-native-windows/versions) on the website needs to have more information around the three different types of releases we're considering making standard:

- Daily
- Preview
- Release

Each version has different sets of expectations and criteria that must to be met in order to meet the qualification necessary to climb it's way to release - it's imp

[2020-03-12 20:39] kikisaints commented on #25
This has been addressed as of #33 and #31 .

[2020-03-12 20:39] #25 closed

[2020-03-16 18:15] kikisaints opened #38 "Add documentation around how to have a cs or cpp project"
Customer is looking for a generated C# project instead of a C++. We have a way to do this, but it is not documented and should be.

[2020-03-16 18:17] kikisaints opened #39 "Add documentation around nodejs safe versions for installation"
The getting started guide needs to have a disclaimer about which node package is safe to use in order to install and run RNW.

Copied from last instructions (that need to be added back into Getting Started):

## Dependencies
* Install the dependencies [specified by React Native](http://facebook.github.io/react-native/docs/getting-started.html#node-python2-jdk). Specifically, make sure a recent ver

[2020-03-19 16:47] chrisglein opened #41 "Instructions imply you need to create a project directory"
Might be just me, but the wording here is a bit misleading:

https://microsoft.github.io/react-native-windows/docs/getting-started#install-react-native-for-windows

It does create a directory with the name <project name>. In the folder you're in, yes.

Maybe worded more clearly like this?

[2020-03-23 20:34] kikisaints commented on #39
This is now [called out here](https://microsoft.github.io/react-native-windows/docs/rnw-dependencies#dependencies) so I'm considering this one fixed.

[2020-03-23 20:34] #39 closed

[2020-03-26 16:13] kikisaints commented on #41
Addressed in PR #42

[2020-03-26 16:13] #41 closed

[2020-03-26 23:05] giregk opened #193 "Include general C#/C++ developer documentation, clean up Native UI Components docs"
# Proposal: Improve the documentation about writing Native modules and Native UI modules

- The code on [Native UI Components](https://microsoft.github.io/react-native-windows/docs/view-managers) is clearly a bad copy-paste and is broken => this should be fixed
- The pages [Native Modules](https://microsoft.github.io/react-native-windows/docs/native-modules) and [Native UI Components](https://micr

[2020-03-27 18:43] kikisaints commented on #38
```npx react-native windows --language cs```

[2020-04-02 18:44] jonthysell opened #48 "Update docs to reflect 0.61 release"
Pages I think I need updating:

* [x] [Main Page](https://microsoft.github.io/react-native-windows/)
    * Update to 0.61
* [x] [Getting Started](https://microsoft.github.io/react-native-windows/docs/getting-started):
    * Stable should be 0.61
    * Beta should be ???
* [x] [Native Module Setup](https://microsoft.github.io/react-native-windows/docs/native-modules-setup)
    * Switch to installin

[2020-04-02 18:49] jonthysell opened #49 "Update docs to reflect changes in 0.62"
Pages I think I need updating:

* [x] [Main Page](https://microsoft.github.io/react-native-windows/)
    * Update to 0.62
* [x] [Getting Started](https://microsoft.github.io/react-native-windows/docs/getting-started):
    * Stable should be 0.62
* [x] [System Requirements](https://microsoft.github.io/react-native-windows/docs/rnw-dependencies):
    * 15063 is only <= 61, update to 16299
    * v141

[2020-04-02 22:23] kikisaints opened #50 "Update docs to reflect changes to support to Windows RS3+"
Related to this pr: https://github.com/microsoft/react-native-windows/pull/4449

[2020-04-14 16:25] jonthysell commented on #48
Getting started updates in #52
Native module updates in #53

[2020-04-14 18:32] jonthysell opened #59 "Hanging page: docs/releases"
The document here is not linked to anywhere within the website:

https://microsoft.github.io/react-native-windows/docs/releases

Is it still necessary?
* If so, does a "top-level" link need to be added to the sidebar?
    * Linked to from another page?
    * Does its contents need updating?
* If not, can it be removed?

[2020-04-14 18:32] jonthysell commented on #48
Splitting out hanging release page here: https://github.com/microsoft/react-native-windows-samples/issues/59

[2020-04-14 18:32] #48 closed

[2020-04-14 18:41] jonthysell opened #60 "Hanging page: docs/testing"
The document here is not linked to anywhere within the website:

https://microsoft.github.io/react-native-windows/docs/testing

Is it still necessary?
* If so, does a "top-level" link need to be added to the sidebar?
    * Linked to from another page?
    * Does its contents need updating?
* If not, can it be removed?

[2020-04-15 00:26] chrisglein commented on #59
It seems decidedly out of date, and doesn't match the more robust release strategy that @kikisaints has been helping coordinate. I say delete it immediately and then a replacement will materialize out of that process later.

[2020-04-16 20:50] harinikmsft opened #62 "Publish guidance doc for packaging and publishing RNW app to store"
Porting from [main repo issue](https://github.com/microsoft/react-native-windows/issues/3503) and filing here for documentation.

This can be a sister task to #35 (as part of publishing to store, can capture the steps and publish guidance).

[2020-04-16 21:17] #50 closed

[2020-04-17 15:39] deatough opened #66 "Calculator sample app does not build from Visual Studio 2019 when repo name is too long"
The build failed to copy the SliderMeasurementsManager.cpp to ...\react-native-windows-samples\samples\Calculator\node_modules\react-native-windows\Microsoft.ReactNative\build\x64\Debug\Microsoft.ReactNative\react-native-patched\ReactCommon\fabric\components\slider\platform\android\SliderMeasurementsManager.cpp it did successfully copy the SliderMeasurementsManager.h file, it looks like the .cpp f

[2020-04-17 19:33] chrisglein opened #67 "Troubleshooting: Uninstall global copy of react native"
Update the docs to include troubleshooting information as per this thread: https://github.com/microsoft/react-native-windows/issues/4436#issuecomment-614945700

[2020-04-18 10:35] deatough commented on #66
This was caused by the registry not having long filename support enabled. Is it possible to update the msbuild scripts to detect this?

[2020-04-21 21:28] kikisaints opened #69 "Doc versioning from 0.60+"
The docs need to have version controlling so customers/consumers using earlier RNW verisons can get the correct installations, requirements, etc. from the documentation.

[2020-04-21 23:31] jonthysell commented on #36
Our current link out to this kind of information (out of date in the 60 stable branch) is on the hanging releases page. https://github.com/microsoft/react-native-windows-samples/issues/59

[2020-04-21 23:33] jonthysell commented on #32
Calculator is in TS. :)

[2020-04-21 23:35] jonthysell commented on #26
Please see https://microsoft.github.io/react-native-windows/docs/native-modules-jsvalue and the new DataMarshallingExample modules in https://github.com/microsoft/react-native-windows-samples/tree/master/samples/NativeModuleSample

[2020-04-21 23:35] #26 closed

[2020-04-23 20:57] #69 closed

[2020-04-23 22:20] harinikmsft opened #78 "Publish getting started for mac"

[2020-04-23 22:37] kikisaints opened #277 "overwriting the metro.js file for Windows causes Android + iOS to not work"
### Environment

This works for any environment, as this is the current state of affairs in order to install, build, and run a React Native Windows application.

### Steps to Reproduce

(Write your steps here:)

1. `npx react-native init <project name> --version ^0.61.5`
2. `cd <project name>`
3. `npx react-native-windows-init`

### Expected Behavior

that we use a metro bundler that co-exists nic

[2020-04-24 16:50] kikisaints commented on #78
do we expect this getting started guide for mac to start at version 0.62? If so, @jonthysell can we create a version folder for just one ahead of the version we're on so we can stage new site content before official release?

[2020-04-24 16:52] kikisaints commented on #59
ah, yes this is very out of date and shouldn't be referenced anymore. I think the versions page should host that information.

[2020-04-24 17:26] harinikmsft commented on #78
If I can get this done in the next couple of days, it will start with version 0.60.0 (which is the current Mac version). It is probably a good idea to have a "next" version staged as part of the process though.

[2020-04-30 18:11] harinikmsft opened #84 "Update TodosFeed sample readme"
Points to a bad link for getting started.

https://github.com/microsoft/react-native-windows-samples/tree/master/samples/TodosFeed

[2020-05-01 15:43] andreleon opened #85 "C# Example issues"
Hi everybody,

I cannot seem to get the C# example to run. I keep running into these errors:

<img width="549" alt="Screenshot 2020-05-01 at 17 45 31" src="https://user-images.githubusercontent.com/1391492/80818509-96a55780-8bd3-11ea-9f6a-1ad70a5ab068.png">

[code]
[code]

I can't figure out what is wrong, my references to Microsoft.ReactNative are in tact, in fact when I look for the IReactPackag

[2020-05-01 16:58] #60 closed

[2020-05-01 16:58] #78 closed

[2020-05-04 19:06] chrisglein opened #86 "APi Parity "implemented" column for modules is inaccurate"
https://microsoft.github.io/react-native-windows/docs/parity-status#supported-community-modules

[2020-05-05 13:29] qmatteoq commented on #84
Fixed with #88

[2020-05-06 23:48] #86 closed

[2020-05-08 21:43] chrisglein opened #92 "Need documentation for how to change JavaScript engine (e.g. Hermes or V8)"
We need instructions that capture how to apply `USE_HERMES`/`USE_V8` and such. Especially because those instructions are evolving (e.g. [see this](https://github.com/microsoft/react-native-windows/pull/4820))

[2020-05-08 21:46] chrisglein opened #93 "Need documentation for how to use WinUI3 with RNW"
It will be a very long time before RNW can confidently use WinUI3 by default. In the meantime there's a manual switch to try it out. See [issue on RNW repo](https://github.com/microsoft/react-native-windows/issues/2492). We need to document those steps, and list or link to the tradeoffs, so that early adopting apps can be informed.

[2020-05-08 21:50] chrisglein opened #94 "Add article on reconciling RNW's relationship with Win32"
We start by focusing RNW on UWP. I feel like that story is pretty clear.
However there are 2 options for working with Win32:
- Using XAML Islands (see [this article](https://techcommunity.microsoft.com/t5/windows-dev-appconsult/getting-started-with-react-native-for-windows/ba-p/912093#) at the "Embedding the React Native component inside a Win32 app" section)
- Using the React Native for Win32 sol

[2020-05-08 22:07] chrisglein opened #95 "Contribution guide is lacking in repo-specific content"
We do include some contribution information on the website [here](https://microsoft.github.io/react-native-windows/docs/contributing).

I don't think it's terribly helpful as is.

There's an issue capturing some complaints on the [main repo](https://github.com/microsoft/react-native-windows/issues/4265), but if we have docs on the website we should probably track that portion here. Also that issue

[2020-05-11 18:48] chrisglein commented on #95
Goals:
* Needs to be discoverable from the website (independent of whether it exists on the website) - dedicated page, resources links
* Low barrier to update for engineers
* Need to have a CONTRIBUTING.md on repo (github convention)

[2020-05-13 18:16] #84 closed

[2020-05-13 18:22] harinikmsft commented on #28
We have updated the docs to use npx instead as that is the more updated workflow.

[2020-05-13 18:22] #28 closed

[2020-05-13 23:14] nanduahmed opened #101 "Update TodosFeed sample to 0.62"
When cloning this project and trying running TodosFeed project with _react-native run-windows_ , The console throws the following error

`error Invalid regular expression: /(C:[\\\]my[\\\]path[\\\]TodosFeed[\\\]TodosFeed[\\\]node_modules[\\\]react-native[\\\].*|C:[\\\]my[\\\]path[\\\]TodosFeed[\\\]TodosFeed[\\\]windows.*|node_modules\\react\\dist\\.*|website\\node_modules\\.*|heapCapture\\bundle\.

[2020-05-14 18:20] harinikmsft opened #102 "Fix github links in website landing page"
We should remove the global "Star" on the website that points to the react-native-windows repo and instead move it down to the "Get started with Windows" section and add a similar one for Mac to ensure we are pointing people to the right repos for the two implementations.

We should also remove the "Github" tab in the top header as well - instead add a page in the resources section that consolidat

[2020-05-14 18:28] harinikmsft opened #103 "Add context page for API docs"
It would be good to add a page that sets context on what the API docs section is doing - point to RN docs for all RN APIs, set context on Windows specific work, Mac specific work etc., Right now it is confusing to land in that section without context.

[2020-05-14 18:31] harinikmsft opened #104 "Add guidance for generating bundle"
Need a guidance document that shows how to create a bundle for Win10 as well as Win32 apps.

[2020-05-14 18:33] harinikmsft opened #105 "Add guidance for deploying to devices - Windows desktop, xbox etc.,"
Would be good to add a guidance doc that shows how to deploy an RNW app on Win10 devices. Something like what the [legacy docs](https://github.com/microsoft/react-native-windows/blob/0.59-legacy/current/docs/RunningOnDeviceWindows.md) had.

[2020-05-14 18:42] chrisglein commented on #92
Also of note, not available for UWP yet. But... will be.
In the meantime maybe a page that describes the plan and what's happening? (because people ask)

[2020-05-14 18:44] chrisglein commented on #101
This is the node version 12 problem. This will go away if we update the TodosFeed sample to 0.62, which... we should do.

[2020-05-14 18:46] chrisglein commented on #102
This thing:

![image](https://user-images.githubusercontent.com/26607885/81973083-78c6f200-95d8-11ea-865d-2411cab237fd.png)

We need Windows AND macOS there

[2020-05-14 18:51] kikisaints commented on #102
do we have a macos twitter handle for this?

[2020-05-14 19:04] harinikmsft commented on #102
No - our twitter handle is common for all React Native things. So, the github at the top shouldnt be there. Instead make 2 "Star" buttons - one for Windows and one for Mac and them to the "Build for Windows" and "Build for Mac" sections below.

[2020-05-14 19:19] harinikmsft commented on #104
Giving this to @acoates-ms per the meeting earlier today.

[2020-05-14 20:16] asklar commented on #93
Some thoughts:
* Today, we can build a debug version of M.RN that targets WinUI 3 by setting the configuration to WinUI3 instead of Debug or Release.
* I checked in a change to the CLI and project templates that adds an option to the project linking command to use WinUI 3 - see PR #4799
* We should try to limit the probability that an app will load both WinUI 2.x and WinUI 3 as I don't think this

[2020-05-14 20:27] harinikmsft opened #107 "Improve Samples documentation in the website"
Right now we have a top header item for Samples that just links to the repo folder. Each sample app today has good Readme files - it may be valuable to have a page for each Sample app in the website that sets context on what each is illustrating and render the readme files in the website?

[2020-05-14 22:56] harinikmsft opened #108 "Add guidance for threading model in native modules"
Request from Office/Calendar team: We need the ability to specify which thread a native module should run on. I believe this is possible, or will be soon, but we need some migration document to help us here. Background: We need some of our native modules to run on specific threads. In one case, this needs to be the UI thread, but in other cases, we need to run on a specific dedicated background th

[2020-05-14 22:58] harinikmsft commented on #108
For reference, the legacy docs had guidance like this - [Threading Model](https://github.com/microsoft/react-native-windows/blob/0.59-legacy/current/docs/ThreadingModel.md)

[2020-05-15 17:17] #102 closed

[2020-05-18 18:41] chrisglein commented on #108
Should document what we currently have, knowing that with turbo modules there will be changes here.

[2020-05-18 18:42] chrisglein commented on #107
Agreed, would be great to have this more discoverable from the website.

[2020-05-18 18:43] chrisglein commented on #105
Hopefully we can lean heavily on the existing UWP documentation as much as possible.

[2020-05-18 18:45] chrisglein commented on #103
Agreed. It pretty unceremoniously drops you into a specific API: https://microsoft.github.io/react-native-windows/docs/flyout-component
Which is what the Facebook docs do, but theirs are more comprehensive.

[2020-05-18 18:52] harinikmsft commented on #103
There is a good context page for the [react native API docs](https://reactnative.dev/docs/components-and-apis) now.

[2020-05-19 22:10] jonthysell commented on #85
How are you consuming/building the project?

I can clone the repo, run `yarn` in the `samples\NativeModuleSample\csharp` folder, and everything builds fine in VS 2019.

[2020-05-28 14:06] lexprom opened #129 "Cannot run a Calculator sample"
### Environment

- yarn - 1.9.4
- node - 12.17.0
- npm - 6.14.5

- "react": "16.9.0",
- "react-native": "0.61.5",
- "react-native-windows": "^0.61.0-0"

**Building configuration**

- Target Platform Version(s): 10.0.18362.0
- Target Device(s): Desktop
- Visual Studio Version: Visual Studio 2019, Visual Studio 2017
- Build Configuration: Debug

### Little bit of description
There was an exact same

[2020-06-02 22:01] jonthysell opened #131 "Website versions page no longer has link to "next", no easy way to view updated docs"
The change fa9677c54bfaa558bb70f5b4d4cf04d1d989c7dd removed the top-most row on the versions page. It is the only link on the site to get to the docs, as they actually appear in docs, in order to verify the contents before the version is snapshotted, and to give to others for review.

It also provided the easy link to see the code changes that have occurred since the last release, to give consumer

[2020-06-03 18:12] dannyvv opened #133 "Ensure release notes for 0.63 mention breaking change in template"
At the time of writing we don't have an upgrade tool for templates yet.
PR [5091](https://github.com/microsoft/react-native-windows/pull/5091) in the react-native-windows repo introduces a breaking change for which users with C# projects and are recommended to update their solution and one C# file.
If users upgrade from 0.61 or a prerelease of 0.62 they might also need to do some more changes to t

[2020-06-08 21:39] #131 closed

[2020-06-09 00:38] asklar opened #137 "Set up CI for samples"
We should have a CI loop that verifies that the samples build successfully

[2020-06-09 05:56] asklar commented on #129
@lexprom   looks like you're running an older version of RNW. Can you update package.json like so:
[code]

make sure you're running VS 2019

[2020-06-09 11:53] 0xbs0d commented on #129
@asklar I tried updating the package.json as you suggested. The app builds but fails to start/install. I'm getting the same error on every sample in the repo.

[code]

and in the other window

[code]

[2020-06-09 14:34] lexprom commented on #129
@asklar I tried that, now getting the same error as @0xbs0d when running `react-native start or yarn start`. In VS2019:
![image](https://user-images.githubusercontent.com/20531647/84160959-ccb1e300-aa7f-11ea-84f6-6cb7381a3096.png)

[2020-06-09 20:04] #137 closed

[2020-06-09 20:06] asklar commented on #129
@lexprom @0xbs0d
I've updated the sample app to work against 0.62 and added it to the repo's CI build.
https://github.com/microsoft/react-native-windows-samples/pull/138
Please try again and let us know if you hit any issues still.

[2020-06-10 07:18] lexprom commented on #129
@asklar hi, I cloned a new version and did everything from scratch.
Now on `npx react-native run-windows`:
![image](https://user-images.githubusercontent.com/20531647/84237839-1d225280-ab0b-11ea-966a-88d4eeafd508.png)
Tried to launch it in VS2019 still the same problems 😔
First command with `--logging`:
![image](https://user-images.githubusercontent.com/20531647/84238319-edc01580-ab0b-11ea-9c82-43

[2020-06-10 09:27] 0xbs0d commented on #129
It works for me now.

I deleted the local files, pulled the repo from github. Then i did yarn install and npx react-native run-windows and it all went smoothly.

Thank you @asklar

[2020-06-10 11:25] sibille opened #139 "Certificate not found error when executing the rss reader sample"
Following the instructions from https://github.com/microsoft/react-native-windows-samples/tree/master/samples/rssreader#run-the-sample-on-windows-10 I get the following error when running` npx react-native run-windows --logging`.

![image](https://user-images.githubusercontent.com/24698018/84262083-3fbd6700-ab1d-11ea-9434-4867695f0e5a.png)

Replacing the certificate with a test-certificate makes t

[2020-06-11 18:43] chrisglein commented on #139
Potentially related to this: https://github.com/microsoft/react-native-windows/issues/3592

Sample app needs a certificate that isn't specific to the person that authored it.
The RssReader is probably different here because it was actually published to the store.

@qmatteoq Do you know how we should be setting up the certificate for this sample?

[2020-06-11 22:12] #93 closed

[2020-06-12 00:53] chrisglein commented on #93
https://microsoft.github.io/react-native-windows/docs/next/winui3

[2020-06-12 08:58] asklar commented on #129
@lexprom hmm looks like you run into problems trying to copy some files... the only thing that comes to mind is maybe you forgot to run yarn ? You can see the calculator app building in the CI, maybe you can follow the steps in the pipeline (see .github/workflows/samples-CI.yml)

[2020-06-12 08:58] #129 closed

[2020-06-12 12:16] qmatteoq commented on #139
@sibille can you check if, inside the windows/rssreader folder, do you have a file called rssreader.pfx?

It's strange because I have double checked and the:

1) The rssreader.pfx file is checked inside the repository
2) The thumbprint of the certificate displayed in the error matches the thumbprint of the rssreader.pfx one.

Thanks!

[2020-06-12 12:26] sibille commented on #139
There is a rssreader.pfx, but can't say if the error matches the thumbprint, it's password protected.

[2020-06-12 12:32] qmatteoq commented on #139
If you open the Visual Studio solution, double click on the Package.appxmanifest file and move to the Packaging section, you should see something like this:

![image](https://user-images.githubusercontent.com/1230332/84502853-62848280-acb9-11ea-8b90-1957aad0189f.png)

And you click on Choose Certificate, you should see the Thumbprint:

![image](https://user-images.githubusercontent.com/1230332/845

[2020-06-12 12:42] sibille commented on #139
I think it's related to the pfx being password protected and not installed on my machine.

![image](https://user-images.githubusercontent.com/24698018/84503329-4a613300-acba-11ea-873e-5dea11c353ec.png)

[2020-06-12 12:44] qmatteoq commented on #139
Can you try to run `npx react-native run-windows` again but, this time, from an elevated terminal?

The certificate is indeed password protected, but the password (together with the thumbprint) are stored in the .vcxproj file:

[code]

The `npx react-native run-windows` command should take care of installing the certificate as part of the deployment process (this is why you need an admin prompt th

[2020-06-12 13:17] sibille commented on #139
I think I tried the first time on an elevated terminal too, but just tried again with the same error. After installing the certificate on my machine it works fine.

[2020-06-12 13:20] qmatteoq commented on #139
Thanks for the feedback. It seems this is indeed related with the bug that @chrisglein highlighted. There are some issues going on with the PowerShell command which takes care of deploying the app and install the certificate.

[2020-06-12 19:00] chrisglein opened #192 "Document RNW version support matrix"
## Summary
As RNW moves forward from version to version, from 0.59 to 0.60 to 0.61 to 0.62... not all of these versions get uniform support. There will be caveats for each. And we should document those.

## Motivation
Create clarity for app developers about what risks they are taking on for staying on each particular version.

## Open Questions

- How should we communicate this? Table of combinati

[2020-06-22 18:37] kikisaints opened #147 "Resources page isn't responsive"
The resources page doesn't respond (well) to mobile or smaller screen sizes. Needs a styling fix to handle this.

[2020-06-23 20:09] kikisaints opened #149 "Link to helpful main repo docs"
The resources page needs links to testing, e2etesting, contributing and the monorepo from the main repo. They are being/already removed from the 0.62 release and need a separate link home.

[2020-06-24 16:24] willerpp opened #150 "Issue with navigator and windows version in react-native"
Hi Guys I'm using the windows plugin in my react-native project, I only have in my project a navigator with 4 pages empty, I have tested this navigator in an android emulator and it worked perfectly but after I applied these commands :

npm install --save-dev rnpm-plugin-windows
react-native windows
react-native run-windows

I received in the windows version of the project this error message 👍
**T

[2020-06-24 17:12] harinikmsft commented on #150
Hello!

Thanks for trying this out. `react-navigation` module is not supported in Windows yet. See [Issue 3884](https://github.com/microsoft/react-native-windows/issues/3884) in the main repo where this is being discussed. We are working on it right now and hope to have it really soon!

I am closing this issue so we can continue the conversation in the main repo where the implementation occurs.

T

[2020-06-24 17:12] #150 closed

[2020-06-24 17:57] kikisaints opened #151 "Document disk space requirements"
The [System Dependencies](https://microsoft.github.io/react-native-windows/docs/rnw-dependencies) page needs a callout about the disk space requirements when building an RN app (especially for the first time) via the `npx react-native run-windows` command.

[2020-06-24 20:57] harinikmsft commented on #49
@jonthysell - can we close this?

[2020-06-25 15:21] willerpp opened #154 "support for keyboard events???"
Hi guys, i need to have hot keys in my react native windows desktop, there is a way to know what keyboard combination was pressed by the user? and trigger a button click?
thank you

[2020-06-25 21:32] harinikmsft opened #156 "Add troubleshooting page"
Will be useful to add a separate troubleshooting page with instructions on how to restart dev envionment after crashes, installation mistakes, other useful info based on breaking changes etc.,

[2020-06-29 17:08] harinikmsft commented on #36
This is now captured in [releases](https://microsoft.github.io/react-native-windows/docs/releases)

[2020-06-29 17:08] #36 closed

[2020-06-29 17:09] harinikmsft commented on #59
This was resolved with the latest [releases](https://microsoft.github.io/react-native-windows/docs/releases) page added to sidebar.

[2020-06-29 17:09] #59 closed

[2020-06-29 18:36] chrisglein commented on #156
We'll need to gather up content to jumpstart this. There's the Metro troubleshooting page we could use to seed. Could have the script for initializing the tools here. Action is to grab these, create a page, and then start adding content to it over time as people hit issues and we identify common tips.

[2020-06-29 18:37] chrisglein commented on #154
@harinikmsft is in the process of documenting the keyboard story. Assigning to her for followup.

[2020-06-29 18:38] chrisglein commented on #151
Do we know what the current requirements are? We'll want to keep the number reasonably up to date, so maybe build in a buffer.
May overlap with #156.

[2020-07-01 17:05] mjfusa opened #157 "Can't build Native UI Module following docs: native-modules-setup and view-managers"
Doc references: https://microsoft.github.io/react-native-windows/docs/native-modules-setup
Doc references: https://microsoft.github.io/react-native-windows/docs/view-managers

RNW 0.62.  I've created a native UI module in C++ in a separate project in the same solution as my main RNW app project. It all builds fine except I'm getting MDMERGE errors.  I get 63 variants of this:
[code]
This sample [S

[2020-07-01 17:09] mjfusa commented on #157
Admin: Can you please create a label: `AppConsult`.

[2020-07-01 17:29] jonthysell commented on #157
Did you follow *all* of the instructions here? https://microsoft.github.io/react-native-windows/docs/native-modules-setup#referencing-react-native-windows-in-your-project

From [Referencing React Native Windows in your Project](https://microsoft.github.io/react-native-windows/docs/native-modules-setup#referencing-react-native-windows-in-your-project):

This should fix the mdmerge build conflicts.

[2020-07-06 17:51] chrisglein opened #159 "Create guide for adding macOS support to an existing community module"
Typically the engineering here is lower than say a Windows module because the iOS code can be leveraged. The higher cost is knowing what to do, and going through the PR process. We should document that to help external contributors to help out here.

Of note we need this for Windows too... I know there was some discussion/issue on that, but I couldn't find it.

[2020-07-06 18:18] chrisglein commented on #159
@tom-un You've mentioned that you've done a few of these and have pointed people to PRs for those as reference. Can you link the PRs or whatever you've linked before here as a starter? Any additional amount you can seed some documentation would help, then hopefully we can share some of the effort to build out docs for this for Windows and macOS.

Speaking of the Windows side, @stmoy I'm thinking o

[2020-07-09 22:30] chrisglein opened #162 "Create page for the Windows/macOS specific aspects of "Platform Specific Code""
This page exist in the main documentation:
https://reactnative.dev/docs/platform-specific-code
I don't think we have a clear place in the documentation that covers what strings to use for Platform.select, for example. We should at least highlight that, if not any other information/tips for people to organize their platform code.

[2020-07-10 01:00] #157 closed

[2020-07-10 03:55] tom-un commented on #159
@chrisglein Here are the PR's I've done to contribute macOS implementations to existing react-native-community repos:
react-native-webview: https://github.com/react-native-community/react-native-webview/pull/1164
async-storage:  https://github.com/react-native-community/async-storage/pull/296
react-native-netinfo: https://github.com/react-native-community/react-native-netinfo/pull/312

[2020-07-13 18:39] chrisglein commented on #162
Correct string for Windows should be "windows". Not sure what the macOS one is. Should be able to look at what `Platform.OS` reports.

[2020-07-21 19:47] harinikmsft opened #167 "Update AppTheme guidance doc to point to Appearance module instead"
The top section of this guidance doc needs to be updated : https://microsoft.github.io/react-native-windows/docs/windowsbrush-and-theme

[AppTheme](https://microsoft.github.io/react-native-windows/docs/apptheme-api) was deprecated in Windows to use [Appearance](https://reactnative.dev/docs/appearance) module instead.

[2020-07-24 17:35] harinikmsft commented on #101
Updating title to reflect work. @qmatteoq - can you help with the upgrade?

[2020-07-24 17:37] qmatteoq commented on #101
It's on my to do list for when I'll be back from vacation 😊 I should be able to work on this next week

[2020-07-26 07:02] TheEhsanSarshar opened #278 "It would be better if documentation have a showcase page."
if it have a showcase page that shows some apps that built with react-native-windows

[2020-07-28 17:19] qmatteoq commented on #101
Done as part of the following PR #158

[2020-07-29 18:47] asklar opened #182 "Native modules docs reference 0.61 (& other issues)"
I recently was helping an external developer (#4516) who was trying to use a native module they had written in C#. This developer is a self-described JS dev, never before used C#, Visual Studio, UWP, or anything like that.
They hit lots of bumps on the road and ended up kind of giving up (and instead re-wrote their code as C++), so I wanted to capture things here and gather ideas on how we can imp

[2020-08-03 13:41] putrasurya commented on #85
anyone know how to fix this? same thing happen to me

[2020-08-03 18:03] harinikmsft commented on #85
Hi @putrasurya - can you share more info on your environment and steps for reproducing?

[2020-08-03 18:11] chrisglein commented on #167
See issue on main repo for AppTheme/Appearance reconciliation: https://github.com/microsoft/react-native-windows/issues/3701

[2020-08-03 18:46] chrisglein commented on #49
@jonthysell FYI closing this

[2020-08-03 18:46] #49 closed

[2020-08-11 01:01] #85 closed

[2020-08-11 17:00] harinikmsft opened #183 "Add guidance doc for Hermes in macOS"
See [Using Hermes](https://reactnative.dev/docs/hermes) for what we could add to our website.

[2020-08-13 20:40] harinikmsft commented on #154
Hello @willerpp - please take a look at this [PR](https://github.com/microsoft/react-native-windows/pull/5590) that documents some of the APIs that you can use to accomplish what you are looking for. We will be adding documentation here in the website soon, but for now this should help unblock you.

[2020-08-13 20:40] #154 closed

[2020-08-14 17:12] chrisglein opened #189 "Create guide for how to publish to store"
We have great docs covering how to create and app and get it running/editable/debuggable. But how do you ship it?

There are UWP docs on this of course, but they are surprisingly hard to find if you don't know what you're looking for (for example you're coming in as a RN/mobile/web developer, as many of our RNW customers are). And if you do find them... they focus a lot on exceptions to the proces

[2020-08-14 17:25] chrisglein commented on #189
Duplicate of #62

[2020-08-14 17:25] #189 closed

[2020-08-14 17:26] chrisglein commented on #62
Related #104 and #105.
May be part of the same doc or at least discoverable from that.

[2020-08-16 13:06] Simek opened #190 "Rename repository, update readme, to reflect that this repository also relates to RN macOS implementation"
Currently the name `react-native-windows-samples` do not suggest that this repository is related too to the RN macOS and contains the website for two RN platforms from Microsoft.

The same problem is with the Readme file which do not mention macOS anywhere nor website source.

Repository description is also inaccurate:
<img width="244" src="https://user-images.githubusercontent.com/719641/90335065

[2020-08-17 18:23] chrisglein commented on #190
This repro predated much of the macOS additions and we haven't renamed the repo, but we should. Using "desktop" kind of works, but doesn't capture the non-desktopy targets that RNW enables like Xbox and HoloLens. So yes agree to rename, we need to pick the right one. Maybe `microsoft\react-native-samples` is okay.

The readme should definitely cover more on macOS.

[2020-08-17 21:49] Simek commented on #190
Also the website URL should be updated: https://microsoft.github.io/react-native-windows/

[2020-08-17 22:01] chrisglein commented on #62
Troubleshooting tips would be good too (see [linked issue](https://github.com/microsoft/react-native-windows/issues/5737) about updating SDK to avoid misleading WACK errors).

[2020-08-17 22:47] Simek commented on #190
And what do you think about changing the prefix of the macOS related pages from (quite enigmatic at the first glace) `rnm-` to just `macos-`? Example: https://microsoft.github.io/react-native-windows/docs/rnm-getting-started

[2020-08-19 00:46] chrisglein commented on #62
Potentially useful links:
- https://docs.microsoft.com/en-us/windows/apps/
- [Distribute your packaged desktop app](https://docs.microsoft.com/en-us/windows/apps/desktop/modernize/desktop-to-uwp-distribute)
- [Building an MSIX package from your code](https://docs.microsoft.com/en-us/windows/msix/desktop/source-code-overview)
- [Package a desktop or UWP app in Visual Studio](https://docs.microsoft.

[2020-08-24 09:41] NickGerleman opened #198 "Add Documentation for ReactNotificationService"
New API @vmoroz added for 0.63. Usage here: https://github.com/microsoft/react-native-windows/blob/master/vnext/Microsoft.ReactNative.IntegrationTests/ReactNotificationServiceTests.cpp

[2020-08-24 09:45] NickGerleman opened #199 "Update WinUI3 Docs for 0.63"
See https://microsoft.github.io/react-native-windows/docs/next/winui3

Needs updating:
- Canary builds no longer needed
- NPM Package section (meant to be NuGet package?)

![image](https://user-images.githubusercontent.com/835219/91029456-a21df380-e5b3-11ea-8a32-9b9025fc956e.png)

[2020-08-24 09:46] NickGerleman opened #200 "Update Getting Started Docs for 0.63"
https://microsoft.github.io/react-native-windows/docs/next/getting-started

E.g. provide the correct version of everything.
![image](https://user-images.githubusercontent.com/835219/91030453-093ba800-e5b4-11ea-87f6-c8ebd4646cbf.png)

[2020-08-24 09:48] NickGerleman opened #201 "Provide Docs for Experimental Binary Consumption"
We're publicly saying that 0.63 supports NuGet-package based consumption in an experimental form. Need to document that and any caveats.

[2020-08-24 09:49] NickGerleman commented on #201
@dannyvv previously signed up for this, but this repo doesn't seem to have him assignable. Will follow up offline.

[2020-08-24 09:50] NickGerleman opened #202 "Update supported community modules"
E.g. we support datetimepicker. Need to update our docs.

![image](https://user-images.githubusercontent.com/835219/91030780-8b2bd100-e5b4-11ea-86a4-7b7602ce2826.png)

[2020-08-24 09:50] NickGerleman opened #203 "Update Supported Community Modules"
E.g. we support datetimepicker. Need to update our docs.

![image](https://user-images.githubusercontent.com/835219/91030780-8b2bd100-e5b4-11ea-86a4-7b7602ce2826.png)

[2020-08-24 09:54] NickGerleman opened #204 "Revise "Using Windows Brushes and Responding to Themes" Page"
We have a banner mentioning AppTheme is deprecated, but still have a page instructing to use that and windowbrush. Need to update to add caveats around Appearance, PlatformColor, while AppTheme is still around.

[2020-08-24 09:56] NickGerleman commented on #203
GitHub created two of these? Closing one of them.

[2020-08-24 09:56] #203 closed

[2020-08-24 17:50] rectified95 commented on #202
Checkbox is also in, Slider has been long pending maintainers' merge

[2020-08-24 17:53] harinikmsft commented on #202
@stmoy has an open PR on this - [PR](https://github.com/microsoft/react-native-windows-samples/pull/197)

[2020-08-24 19:03] rectified95 commented on #202
Slider just got in as well. @stmoy

[2020-08-24 20:43] kikisaints commented on #190
Created a PR to address the readme... however I don't have write access to the repo description :(
@asklar is that something you have the ability to do?

[2020-08-24 21:00] NickGerleman commented on #201
Danny is working to get these done by end of week.

[2020-08-24 21:09] asklar commented on #190
@kikisaints I think so - what should it say?

[2020-08-24 21:12] kikisaints commented on #190
@asklar how does this sound?:

[2020-08-24 21:13] asklar commented on #190
Sounds good @kikisaints - just to confirm do we want to say Duo or Surface Duo?

[2020-08-24 21:14] kikisaints commented on #190
Ah! Good catch, should be Surface Duo.

[2020-08-24 21:16] asklar commented on #190
@kikisaints Done!

[2020-08-25 16:16] harinikmsft commented on #204
Duplicate of #167

[2020-08-25 16:16] #204 closed

[2020-08-25 19:19] krunalkharat commented on #147
Is anyone working on this issue if not please let me know I want to work on it.

[2020-08-25 19:57] #200 closed

[2020-08-25 19:58] NickGerleman commented on #202
Reassigning since stmoy is already working on this

[2020-08-25 20:10] kikisaints commented on #147
@krunalkharat you're welcome to submit a PR for it! I haven't had the time recently to get back to it, so feel free 👍

[2020-08-25 20:49] NickGerleman commented on #199
@stmoy and @acoates-ms: Possibly wanting to set expectations for stability in the doc

[2020-08-25 20:53] asklar commented on #199
I think we still want to point people to the canary build since we'll want instructions to work w/the next winui preview.
WRT the npm package agree we can get rid of that or replace w/nuget

[2020-08-25 20:57] stmoy commented on #199
I think the more meta point was "this is in the Windows Basics" section which doesn't seem right. This doesn't seem like a "golden path" scenario yet, so maybe a warning at the top that says "this isn't totally solid" and moving it to an advanced section helps send the right message.

[2020-08-26 16:34] #190 closed

[2020-08-26 19:06] Simek commented on #190
@kikisaints What about the repository name and website URL?

[2020-08-26 22:16] harinikmsft commented on #199
@kikisaints has introduced an "experimental" sidebar and moved this WinUI 3 doc into that in this [PR
](https://github.com/microsoft/react-native-windows-samples/pull/211)

Is that all this issue is tracking?

[2020-08-26 22:55] NickGerleman commented on #199
The other bit I was concerned about was pushing folks towards canary builds instead of what we have in 0.63. They're pretty rough in ways customers might not expect. E.g. they block usage of community modules, force an unreleased version of React Native to be used, can have breaking changes every build, are often broken, etc). If we really want to push people to use them to get newer WinUI bits th

[2020-08-26 23:13] NickGerleman commented on #133
I think for this one we decided to tell people to just Regen the project since there were too many breaking changes? Any action items here?

[2020-08-27 05:01] asklar commented on #190
that might be a little trickier. there are pieces of the samples repo that rely on the react-native-windows repo being a prefix of this repo's name (see siteconfig.js here)

[2020-08-27 16:23] #167 closed

[2020-08-27 16:48] asklar commented on #199
re: community modules - today no native community modules will work with a winui 3-built microsoft.reactnative.dll. So I think keeping folks on canary helps send the message that this is experimental and set expectations accordingly.

[2020-08-28 20:13] #202 closed

[2020-08-30 23:08] asklar opened #229 "Need better instructions on adding Windows support for native modules"
microsoft/react-native-windows#4993 renamed the package `react-native-windows-override-tools` to `react-native-platform-override`. However RNW 0.62 still uses the old name which is not available on npmjs/yarnpkg

Repro:
- clone a native module repo to add support for windows (e.g. clipboard)
- follow the instructions and run `yarn add react-native-windows@0.62 --peer`
- `cd node_modules\react-nati

[2020-08-31 18:07] stmoy opened #228 "Port photo-lab from UWP to RNW"
# Proposal: Port photo-lab from UWP to RNW

## Summary

https://github.com/microsoft/Windows-appsample-photo-lab

![asdf](https://raw.githubusercontent.com/microsoft/Windows-appsample-photo-lab/master/Screenshots/PhotoLab-collection-page.png)

Photo-lab is a mini-app for viewing and editing image files. The UWP version demonstrates XAML layout, data binding, and UI customization features.

Updatin

[2020-08-31 18:20] chrisglein commented on #229
Steps here should be made to be correct: https://microsoft.github.io/react-native-windows/docs/native-modules-setup#adding-windows-support-to-an-existing-library

It's suspected that these steps may be creating issues for modules migrating from 0.62 to 0.63. The instructions set you up to work for exactly 0.62.0, not 0.62 and greater.

Side note, that isn't the most discoverable document. I'd argu

[2020-09-01 18:31] chrisglein commented on #183
Related to #92

[2020-09-02 15:20] NickGerleman opened #235 "Inconsistent Syntax Highlighting For Commands"
We see a bunch of examples for commands that get colors at relatively arbitrary points. Seems like we're trying to interpret the Snippet as a programming language instead of a command or raw text?

 E.g.
![image](https://user-images.githubusercontent.com/835219/92002666-f4b68880-ecf4-11ea-8692-273cc877fc49.png)

[2020-09-02 19:19] jonthysell commented on #235
When you use the ``` markdown tags, you should specify the language so the correct highlighting is applied (the auto-detect isn't perfect). Use `cmd` for command-line commands, ie:

outputs

[code]

Using

outputs

[code]

[2020-09-03 15:36] chrisglein commented on #235
Okay, sounds like we just need to scrub the docs and add language specifiers in the right places. Tagged as "good first issue".

[2020-09-04 12:26] mrousavy opened #265 "How to add macOS support to existing native module?"
Hi!

I couldn't find any documentation on how to add macOS support to an existing native module, so I'm sorry for asking this here.

I'm trying to add macOS support for my library [react-native-blurhash](https://github.com/mrousavy/react-native-blurhash/tree/support-macos), but I can't seem to figure out how to create the `.xcodeproj` file.

It always complains that the native module cannot be fou

[2020-09-04 18:45] asklar opened #244 "Revise Native module version docs about updating RN versions and validating on other platforms"
Yeah, these values should be dependent on what the min version of RNW you want to support.   So this should be something like:
`yarn add react-native-windows@>=0.62 --peer`

Also, if you are working on an existing community project, you can't just update the RN dev version without making changes to the android/ios test projects assuming they have some.  --  You will likely need to do some kind of

[2020-09-05 06:57] andriibodryi opened #250 "Build windows app on macos"
How can I build Windows application  on my macbook pro?

[2020-09-05 10:45] asklar opened #267 "Rationalize public win32/island support"
It's apparent a lot of indie devs don't really understand uwp or how RNW apps that are created by our CLI might be different than win32 apps. In some cases this puts a damper on what things they might be able to do (e.g. spawn some other exe, etc.)
A number of 1st and 3rd party partners are already using RNW in a win32 app via xaml islands. The proposal here is to document and rationalize what the

[2020-09-05 10:49] asklar commented on #193
@giregk I made some updates, could you take a look and see if those help? Would love to hear if there are more improvements we can make or what we can clarify.

[2020-09-06 23:48] jonthysell opened #246 "Website does not render properly on IE..."
...3.01a. On a Power Macintosh 8600/200 running Mac OS 8.1. 😜

![image](https://user-images.githubusercontent.com/10852185/92337787-c7553c00-f060-11ea-83fc-d6f2cfcb95db.png)

[2020-09-07 05:55] krunalkharat opened #247 "React Icon isn't Displaying"
@kikisaints The icon in the header is not displaying on the website.

[2020-09-07 06:12] krunalkharat commented on #247
#248

[2020-09-08 11:24] bzoz opened #249 "Update Native Modules + Visual Studio documentation"
While trying to port [react-native-config](https://github.com/luggit/react-native-config) I've followed the new 0.63 module guide, and encountered some issues:

- In [Adding React Native Windows to the Visual Studio Solution](https://microsoft.github.io/react-native-windows/docs/native-modules-setup#adding-react-native-windows-to-the-visual-studio-solution): there are no `Microsoft.ReactNative.Sha

[2020-09-09 16:53] chrisglein commented on #249
@stmoy For you to collate alongside the other native module documentation feedback.

[2020-09-09 23:34] stmoy opened #252 "Update Native Module docs when returning complex types"
The following feedback regards this [specific section](https://microsoft.github.io/react-native-windows/docs/native-modules#1-authoring-your-native-module-1) of the native modules docs, copied here for posterity:

-=-=-=-

Methods that return more complex types (like std::string) can be implemented by returning void and accepting a bool and a ReactPromise<JSValue>:

[code]

This can be also tied i

[2020-09-10 00:00] stmoy commented on #182
@jonthysell - I see a bunch of changes that you've made over the last couple of days here, can we close this issue?

[2020-09-10 00:07] stmoy commented on #252
@NickGerleman - I had a couple of questions for the bullets above:

- This contradicts existing documentation and samples around ReactPromise and parameters
  - Can you please include a pointer to this docs and params to make sure the future doc updates align?
- We have built-in modules using returning Promise to string that don't accept extra booleans
  - Is it required _not_ to accept extra bool

[2020-09-10 00:14] stmoy opened #253 "Update package.json guidance for native modules"
https://microsoft.github.io/react-native-windows/docs/native-modules-setup#updating-your-packagejson

[code]

Depending on which versions of iOS and Android the module supports, this guidance potentially breaks the module when Windows support is added.

What is the guidance around adding Windows support to a module without breaking iOS and Android?

[2020-09-10 00:14] stmoy opened #254 "Document all annotations and APIs for Native Modules"
@vmoroz indicated that not all annotations are listed in these tables:
- https://microsoft.github.io/react-native-windows/docs/native-modules#attributes
- https://microsoft.github.io/react-native-windows/docs/native-modules#attributes-1

We should make sure that the docs are up-to-date.

[2020-09-10 18:59] chrisglein commented on #246
That is.. majestic.
But I think we can safely declare that out of our support window 😂

[2020-09-10 18:59] #246 closed

[2020-09-10 22:19] jonthysell commented on #253
Here's what I wrote for react-native-camera, where they target 59 and they don't want to add rnw to their package.json: https://github.com/jonthysell/react-native-camera/blob/master/windows/README.md#local-development-setup-rnw--062

[2020-09-10 22:19] stmoy commented on #252
Sounds like there are expectations around how this should work that don't seem to work - @asklar can you work with @vmoroz to validate what the "golden path" is?

[2020-09-10 22:22] stmoy commented on #249
The steps in this doc should actually get automated by the CLI. When they are, we can remove this page.

[2020-09-10 22:25] chrisglein commented on #244
Duplicate of #253

[2020-09-10 22:26] chrisglein commented on #229
Duplicate of #253

[2020-09-10 22:27] #229 closed

[2020-09-10 22:27] #244 closed

[2020-09-10 22:29] stmoy commented on #182
Alex to doublecheck what is still out of date now that Jon has updated a bunch of stuff.

[2020-09-10 22:30] chrisglein commented on #193
Somewhat related to #62 in that we could benefit from having some general purpose resource links to guide people new to UWP development.

[2020-09-10 22:39] #182 closed

[2020-09-11 16:45] asklar commented on #249
Similar feedback to what I filed here: microsoft/react-native-windows#5914

[2020-09-13 22:29] asklar opened #255 "Single-proc build breaks with npm_config_cache already defined"
yarn sets up some environment variables (like npm_config_cache) and calls execSync. This calls the Win32 API CreateProcess and passes an environment block which is a merge of the existing environment block (i.e. from the calling process) with some additional stuff that includes npm_config_cache among others.

Environment variables in Windows are case-insensitive, but CreateProcess does not sanitiz

[2020-09-14 05:11] Poopooracoocoo commented on #35
It'd be great for the samples to be on the Store or available as an MSIX! :D

hey do you know why Skype switched to Electron (but still using ReactXP) and why the Xbox app is no longer in the MS Store and isn't using MSIX (at least for the installer)?

[2020-09-14 18:38] #247 closed

[2020-09-14 18:46] chrisglein commented on #235
@chiaramooney Have you covered all the pages at this point? If your done passing over these, with your merged PR I think you can close this.

[2020-09-14 18:55] chiaramooney commented on #235
All pages covered.

[2020-09-14 18:55] #235 closed

[2020-09-14 18:59] chrisglein opened #258 "Create/link app guide for RNW version update best practices"
We hit [this issue](https://github.com/microsoft/react-native-windows/issues/5965) in triage. I wanted to point them to our upgrade guide, but... either I couldn't find it (link needs to be surfaced more obviously) or it doesn't exist. Our recommendation is basically that you create a new blank project and copy over your app content; that way gets you the cleanest app template. I swear I've seen t

[2020-09-15 05:00] elcssmouhsine opened #259 "c# c++ interop conflict with Microsoft.ReactNative.Managed"
Using React-Native 0.63.2

Severity | Code | Description | Project | File | Line | Suppression State
-- | -- | -- | -- | -- | -- | --
Error | NU1201 | Project Microsoft.ReactNative.Managed is not compatible with uap10.0.15063 (UAP,Version=v10.0.15063) / win10-arm-aot. Project Microsoft.ReactNative.Managed supports: uap10.0.16299 (UAP,Version=v10.0.16299) | Camera | C:\Users\elcss\Documents\examapp

[2020-09-15 09:50] manohargss opened #260 "None of the Samples are not working"
I cloned the samples and trying to open them but none of them open with vs 2019. Is there any pre-requisite to build the projects?

[2020-09-15 16:47] chrisglein commented on #260
Which samples did you try and what steps did you follow? Cloning and opening up in VS 2019 isn't going to be sufficient, as there are other dependencies you'll need via NPM. For example look at the [Calculator readme](https://github.com/chrisglein/react-native-windows-samples/tree/master/samples/Calculator) which tells you what steps to follow.

[2020-09-15 18:00] jonthysell commented on #259
Please update your project's min version to 16299.

https://microsoft.github.io/react-native-windows/docs/win10-compat

[2020-09-15 18:23] #259 closed

[2020-09-16 03:16] manohargss commented on #260
I did not know that some pre-requisites are needed to be done. You can close this issue.

[2020-09-16 03:16] #260 closed

[2020-09-16 03:37] manohargss opened #263 "TodosFeed Sample not Building"
I got the code from Git Yesterday and after running the pre-requisites observed that TodosFeed sample is not building.

[2020-09-16 09:14] asklar opened #264 "Create a troubleshooting guide for UWP apps and C#-C++ interop"
This is applicable to not only RNW but to all UWP, but there aren't great resources on docs.microsoft.com.
My proposal is:
- create a UWP/C#/C++ troubleshooting guide
- move the content I wrote about .net native there
- augment it with things like consuming C#-with-XAML from a cppwinrt app: https://github.com/microsoft/react-native-windows/issues/6003
- point to the [cppwinrt troubleshooting guide

[2020-09-16 16:14] chrisglein commented on #263
Can you be more specific about which steps you were trying and where the first failure occurred?

I think there are some problems in the steps in the [TodosFeed readme](https://github.com/microsoft/react-native-windows-samples/tree/master/samples/TodosFeed) but it'd be helpful to know what _you_ hit.

The steps say:
`react-native run-windows`
Which assumes a global install of the react-native comm

[2020-09-16 17:41] chrisglein commented on #265
Duplicate of #159.
This is definitely some documentation we want to flesh out. Thanks for your questions and this detail will be linked to that issue.

[2020-09-16 17:41] #265 closed

[2020-09-17 01:49] chrisglein commented on #159
FYI @amgleitman we have the issue tracking need for an article on adding macOS support to existing native modules here (on the samples repo where the website is built from, not the macOS repo). If you can put together some content we can help you walk through the website parts. Some documentation [here](https://github.com/microsoft/react-native-windows-samples/blob/master/websiteguide.md)

[2020-09-17 18:30] chrisglein commented on #263
@qmatteoq I remember you mentioning you were maybe going to upgrade this? Seems like it should be clear to move to 0.62 which should address these issues.

[2020-09-19 10:42] qmatteoq commented on #263
Yes it's in my to do list 😊 these weeks I'm busy because of Ignite, but as soon as it's done I will work on this. Thanks for your patience!

[2020-09-22 05:04] asklar opened #269 "Migrate to Docusaurus v2"
@chrisglein we don't control the order of inclusion as that's done by docusaurus.
If/we move to docusaurus v2, a lot of this can go away since we can just embed react components instead of dealing with css styling

_Originally posted by @asklar in https://github.com/microsoft/react-native-windows-samples/pull/251#discussion_r492475514_

[2020-09-22 05:05] asklar commented on #269
We will need docusaurus v2 to support the top level pivots before we can move.
Tracked by https://github.com/facebook/docusaurus/issues/3320

[2020-09-22 21:25] asklar commented on #254
@stmoy I think this bug should be about the annotations/macros and not the yarn versioning, please double check me :)

[2020-09-22 22:18] stmoy commented on #254
@asklar - correct, my bad. I updated my original issue with the correct links.

[2020-09-23 18:58] giregk commented on #193
@asklar I read the whole documentation. It seems much better than the last time I read it. I saw answers to several questions I once had (such as handling asynchronous tasks in C++/winrt with which I struggled a lot). Thank you very much !

[2020-09-24 01:40] #264 closed

[2020-09-24 23:12] stmoy commented on #254
Would it be useful to separate the API docs vs. the guidance docs for attributes? Maybe each attribute could have its own page.

Smallest thing would be to add the missing attributes REACT_INIT and REACT_FUNCTION.

[2020-09-24 23:32] stmoy commented on #193
Thank you for following up @giregk - please reach out again if you need any more info!

[2020-09-24 23:32] #193 closed

[2020-09-28 10:32] saadhaxxan commented on #147
@kikisaints I have gone through the whole code not only the resource but also the main index page is also not responsive. The website needs a complete upgrade most of the styling in inline that doesn't allow to change the behavior of the whole page. A complete upgrade in file structure is required.
![ss](https://user-images.githubusercontent.com/42111836/94421975-ce72f400-019f-11eb-93ac-ed39896a5d

[2020-09-28 17:11] asklar commented on #147
@kikisaints @chrisglein a lot of this I bet is due to us using Docusaurus v1 to produce the website. We should re-evaluate this once we move to v2 with #269

[2020-09-28 21:07] #249 closed

[2020-09-28 21:07] #253 closed

[2020-09-28 22:20] jonthysell opened #279 "Create continuous integration guidance docs"
Right now we have some CI documentation buried in the native module setup docs: https://microsoft.github.io/react-native-windows/docs/native-modules-setup#setup-ci-continuous-integration-pipeline-for-your-module

We also have some sample CI pipelines: https://github.com/microsoft/react-native-windows-samples/tree/master/samples/ContinuousIntegration

We should have a top-level CI docs page for bot

[2020-10-01 20:51] asklar opened #281 "Document using IReactPackageProvider to activate packaged DLLs"
Checked with @vmoroz and IReactPackageProvider would be able to load DLLs at runtime to activate modules dynamically, but this is not documented anywhere. We should document this in https://microsoft.github.io/react-native-windows/docs/ireactpackageprovider-api

[2020-10-02 01:00] asklar opened #282 "Document ReadValue/WriteValue"
This is apparently part of the public API but is not documented anywhere

[2020-10-02 01:12] asklar opened #283 "Show how to use co-routines with native modules"
Let's use the co-routine syntax instead.

_Originally posted by @vmoroz in https://github.com/microsoft/react-native-windows-samples/pull/280#discussion_r498539295_

[2020-10-02 01:13] asklar commented on #254
This should also speak about the differences and limitations between REACT_METHOD and REACT_SYNC_METHOD

[2020-10-02 01:16] asklar opened #284 "Add docs about using VS to do direct debugging"
There's a little blurb in the debugging menu but we should add docs on how to do this (and how to bring up the debugging menu in the first place :) )

[2020-10-02 01:17] asklar opened #285 "Document debugging JS from a crash dump [Chakra]"
via jscript windbg extension or some other method.
Do we need to make jscript extension public?

[2020-10-02 01:18] asklar opened #286 "Glyph documentation should describe packaging font file/fontUri requirement"
The [Glyph documentation](https://microsoft.github.io/react-native-windows/docs/glyph-component) mentions fontUri, it's marked as not required, but we also don't have instructions that if you specify a `fontUri`, you have to package the font with your UWP app (and how to do that in VS).

[2020-10-02 01:24] asklar opened #287 "Define promise-like/callbacks in the docs"
We should:
- Define what a callback is. Is it strictly a `void (*) ()`? a `std::function`?  is it anything with an `operator()` ?
- What types they take/return
- What the difference between 1 or 2 is
- When you would use a callback, two callbacks or a promise

_Originally posted by @asklar in https://github.com/microsoft/react-native-windows-samples/pull/280#discussion_r498583420_

[2020-10-02 01:26] asklar opened #288 "Add more realistic examples of native modules calling WinRT APIs"
Add more realistic examples of native modules calling WinRT APIs
Including pointing to our sample native modules and possibly community modules

_Originally posted by @asklar in https://github.com/microsoft/react-native-windows-samples/pull/280#discussion_r498583890_

[2020-10-02 01:34] asklar opened #289 "Describe differences between REACT_METHOD and REACT_SYNC_METHOD"
I do not think it is a true statement. On their own the synchronous methods do not cause perf issues. In future TurboModules all methods are planned to be synchronous according to the FB team. Should we rather speak about the differences and limitations instead of on insisting using the REACT_METHOD?

_Originally posted by @vmoroz in https://github.com/microsoft/react-native-windows-samples/pull/2

[2020-10-02 01:35] #252 closed

[2020-10-02 04:10] bibyzan opened #290 "question about ReactPackageProvider.idl for creating a native UI module"
When following the `Sample ViewManager (C++)` part of this tutorial

[https://microsoft.github.io/react-native-windows/docs/view-managers](https://microsoft.github.io/react-native-windows/docs/view-managers)

I just want to create the native view using visual c++ and the first line in the ViewManager(C++) tutorial says

How can I create a native C++ view for use only within my existing react nativ

[2020-10-03 20:47] asklar opened #293 "Docs contain spelling mistakes/typos"
We should probably add some spell-checking guard rails

[2020-10-05 16:53] slorber commented on #269
Hi

There's a PR to track, likely to be in next version:
https://github.com/facebook/docusaurus/pull/3539

[2020-10-05 18:08] asklar opened #294 "Document tabIndex"
and other like props :)

[2020-10-05 18:10] harinikmsft commented on #294
Is there a way to generate stubs for props like these on View in Windows so that we can go and add documentation?

[2020-10-06 20:57] #293 closed

[2020-10-07 06:20] EhsanSarshar commented on #278
@kikisaints ???

[2020-10-08 04:05] asklar commented on #294
The properties are defined in [flow](https://github.com/microsoft/react-native-windows/blob/443f76a03724d0b456e4422499a768d4d02657d3/vnext/src/Libraries/Components/View/ViewPropTypes.windows.js) so I believe it is possible.

[2020-10-10 18:21] aberba opened #297 "Sqlite database example"
The SQLite package at https://github.com/andpor/react-native-sqlite-storage is said to support React Native Windows. Can you guys please do an example of that? Also would be useful to know how to publish such an app as a MISX package.

I have a template RNW project at https://github.com/aberba/rnw-template but installing the https://github.com/andpor/react-native-sqlite-storage package doesn't wor

[2020-10-12 18:22] chrisglein commented on #297
The version your app is on (0.63) and the version that module is compatibile with (last update looks like it was 14 months ago, so... 0.59-ish?) won't work together. The module needs to be updated to the latest native module stuff. That's known and still pending. You can track that here: https://github.com/microsoft/react-native-windows/issues/6033
(which is in progress, yay!). Closing this issue.

[2020-10-12 18:22] #297 closed

[2020-10-12 18:26] chrisglein commented on #290
Feedback on the sample seems to be that
1) It's in C#, and doesn't make clear how to do this from a pure C++ perspective
2) It leads you down the path of creating a community module, and doesn't make clear how to just access some native code in your app and not package that up for others

@bibyzan Does that capture what you're saying?
@stmoy This looks like good feedback on the native module sampl

[2020-10-12 18:29] chrisglein commented on #288
FancyMath is nice in that it's simple. But too simple if we don't have examples of more Windows-y stuff, calling real WinRT APIs.

[2020-10-12 18:31] chrisglein commented on #287
The default path is more complicated than it may need to be (powerful, but confusing). We may have plans to streamline this, but in the meantime we need to document what we have.

[2020-10-12 18:33] chrisglein commented on #286
Document only gives the context of "string". Yeah, that could give any detail and it'd be better.

[2020-10-12 18:36] chrisglein commented on #285
We should have a set of resources here for how to debug JS crashes, likely links to existing things.
As for debug extensions we should test the viability of what's there and see if it's worth sharing.

[2020-10-12 18:38] chrisglein commented on #284
Could be structured in the docs under some "tools" section that covers both VS and VSCode. But it sounds like this scenario requires full VS, and is specific to Chakra.

[2020-10-12 18:40] chrisglein commented on #282
These are pretty core to writing a module so this seems higher priority relative to some of the less common stuff.

[2020-10-12 18:41] bibyzan commented on #290
@chrisglein You've got it exactly, a friend of mine and I are doing a very dumb experiment where I am trying to use react native as a view layer for a game we want to write using this C++ vulkan SDK https://vulkan.lunarg.com/sdk/home

I learned C++ years ago but never got any industry experience in the language specifically after that point. I have experience writing a react native module in swift

[2020-10-12 18:43] chrisglein commented on #279
We do have good information here that's buried. This part of the documentation needs some reorganizing. Not all top level nodes, but also not in huge monolithic articles.

@stmoy Do you have any thoughts about what the structure should be here? Maybe we brainstorm a website hierarchy and then carry that out.

[2020-10-14 15:48] asklar opened #298 "Docs legitimize islands (but shouldn't?)"
https://github.com/microsoft/react-native-windows-samples/blob/master/samples/TodosFeed/README.md

specifically:
•	As a component, that can be used in a WPF application through XAML Islands
We discussed a few weeks ago that we don’t want to advertise Win32 or islands, so we shouldn’t have this documented or if we mention it, we should say it is unsupported.
Related: Rationalize public win32/island

[2020-10-14 16:16] asklar commented on #267
We've already talked about this publicly, so we should either retract or document:

- https://youtu.be/TZnajQqqKV8?t=1925
- https://youtu.be/Ga8oW0VUo2M?t=243
- https://github.com/microsoft/react-native-windows-samples/blob/master/samples/TodosFeed/README.md

[2020-10-14 22:28] harinikmsft opened #299 "Add sample that shows wrapping of a complex WinUI control from RNW"
We need a sample that shows best practices for wrapping a somewhat complex WinUI control in JS and using the same in an RNW app, exercising the ViewManager code and making the guidance for the same better.

[2020-10-15 18:19] chrisglein commented on #299
Grouped list view would be a good choice to show a large black-box control (no RN hosted content within the list).

[2020-10-15 18:24] chrisglein commented on #298
Need to highlight the difference between golden path (UWP) and places where it is possible to connect other tech together but is either less recommended or may have some gaps that we need to highlight.

[2020-10-15 18:28] chrisglein commented on #267
Goal is to highlight golden path and very clearly identify the gaps in any other path. Whatever doc we provide here needs to cover this.

[2020-10-17 18:05] ryfow opened #300 "Registering your Native Module code example out of date"
The C Sharp example in the "Registering Your Native Module" section of the docs is out of date. I'm not sure what you're using as an html editor, so I'm creating a bug instead of a PR.

https://microsoft.github.io/react-native-windows/docs/native-modules#2-registering-your-native-module

It needs to look like the NativeModuleSample code in order for things to compile.

[code]

[2020-10-19 17:17] slorber commented on #269
published: https://twitter.com/docusaurus/status/1318234989717192704

[2020-10-20 18:23] dannyvv commented on #300
@jonthysell : I had actually updated the samples when updating the docs, but you asked me to revert the samples. Do you remember why and if that is still valid?

[2020-10-21 15:59] dstaley opened #301 "Add Native UI Component example using built-in control"
# Proposal: Add a sample implementation of a Native UI Component that uses a built-in control

## Summary

Currently, the docs for Native UI Components uses a fully custom control. It would be nice to have an example to show how developers can integrate existing UI controls instead of writing their own.

## Motivation

As a React developer who is new to Windows development, it is unclear which por

[2020-10-25 07:28] Poopooracoocoo commented on #35
oh and a list of who is using RNW would be pretty neat. you can see who uses RN on their site. unfortunately not even ms is using rnw much as i said above.

[2020-10-26 15:43] chrisglein commented on #35
#278

[2020-10-26 16:51] rurikoaraki opened #306 "Better Keyboard Shortcut support"
# Proposal: Better Keyboard Shortcut support

## Summary

Although supportKeyboard allows for implementing handling of keyboard shortcuts on a React Native Windows app, it seems that the XAML platform has good support for handling keyboard shortcuts through UIElement's KeyboardAccelerators property. We could potentially use it to expose a KeyboardShortcut prop (and similarly an AccessKey prop) on

[2020-10-28 17:55] chrisglein opened #309 "Document scope of macOS/Windows in website?"
Tom created this write up to help answer FAQs on the macOS repo: https://github.com/microsoft/react-native-macos/wiki/Scope-of-react-native-macos

1. Should we promote that on the website somewhere?
1. Is there anything equivalently we want to do for Windows? (or align existing documentation to make easier to find)

[2020-10-28 18:17] harinikmsft commented on #306
We believe shortcut keys can be enabled through key events and will be providing a sample to show how that is accomplished.

We are punting on the below features for now:
- [AccessKey/KeyTips](https://docs.microsoft.com/en-us/windows/uwp/design/input/access-keys) - UI affordances for what the shortcut key is
- [KeyboardAccelerator](https://docs.microsoft.com/en-us/windows/uwp/design/input/keyboard

[2020-11-11 13:30] bzoz opened #314 "Document RootNamespace requirements in module vcxproj files"
When creating a native module, the `RootNamespace` property of the project must match the namespace used in the native module. Otherwise, the project will fail to build. This is currently not documented.

Those will not match when following the getting started guide: when creating the module project `MyLibrary` is suggested as its name, whereas the sample code uses `NativeModuleSample` as its name

[2020-11-11 13:34] bzoz opened #315 "How to add custom user control using C++/WinRT"
The UI module docs specify how to create a custom user control with C# but not with C++. Adding Blank User Control (C++/WinRT) item to the project does not work – the module itself will compile, but the app using such module will not build, failing with:
[code]
Is there a way to add such control to the project?

[2020-11-11 16:55] asklar commented on #315
@bzoz This will be documented when 0.64 ships, but here is the fix in the meantime: https://microsoft.github.io/react-native-windows/docs/next/native-code#compile-error-xamlmetadataprovider-is-not-a-member-of-winrtmymodulename
I also added it to the cppwinrt docs: https://docs.microsoft.com/en-us/windows/uwp/cpp-and-winrt-apis/troubleshooting#symptoms-and-remedies

LMK how this works!

[2020-11-11 16:59] asklar commented on #314
@bzoz is this the same error you were seeing with #315? If so, can you check if the docs for 0.64 will be enough?
https://microsoft.github.io/react-native-windows/docs/next/native-code#compile-error-xamlmetadataprovider-is-not-a-member-of-winrtmymodulename

[2020-11-12 09:12] dstampher opened #318 ""System Requirements" page of Getting Started tutorial links to a page that doesn't contain relevant information."
https://microsoft.github.io/react-native-windows/docs/rnw-dependencies

In the "React Native Development Dependencies" section of the URL posted above, the first bullet point reads:

Install the standard React Native dependencies, which links to https://reactnative.dev/docs/getting-started#node-python2-jdk

This page doesn't contain information regarding installing React Native dependencies.  It c

[2020-11-12 20:30] #318 closed

[2020-11-12 22:46] bzoz commented on #314
@asklar No, it's a different error:
[code]
The lib source I'm building [is here](https://github.com/bzoz/rnw-ui-module/tree/f79e447cd6f7a5230c0b9aa8e225fe110d80d2c8). Making [this change to the `RootNamespace`](https://github.com/bzoz/rnw-ui-module/commit/3f55c454843438f5cd9c1d34f616b90fe26a68cd) fixes the build.

I think the main issue here is that the getting started docs suggest creating `MyLib

[2020-11-12 22:48] bzoz commented on #315
There is no `*_XamlTypeInfo.h` file anywhere in the solution. But just adding
[code]
(`NativeModuleSample` is both the namespace of the module, [this is the same code as in #314](https://github.com/bzoz/rnw-ui-module)) fixes the build. I haven't gotten yet to actually using the custom control in the app, but at least it builds now.

[2020-11-12 22:49] bzoz commented on #315
Oh, yeah - I'm using autolinking for this.

[2020-11-12 22:57] asklar commented on #314
Thanks for clarifying @bzoz ! CC @jonthysell

[2020-11-16 17:12] ryfow opened #320 "Document & provide example of [ReactInitializer]"
It appears that you can get a handle on the ReactContext by marking a method with the `[ReactInitializer]`. There's no mention of that in the docs or examples.

[2020-11-16 17:44] asklar opened #321 "Update C# native module docs for events for codegen"
@dannyvv:

[2020-11-16 19:16] jonthysell opened #322 "RNW project support matrix (by language) is incomplete"
RNW technically supports projects (both host apps and native modules) written in C++/WinRT and C#. However, support for mixing these project types is incomplete, inconsistent, and ultimately confusing due to their mixed support by VS/MSBuild.

This is a tracking issue to capture which scenarios actually work, with links to examples and/or the specific issues blocking the scenario. As we move to fi

[2020-11-19 19:52] chrisglein commented on #322
We need some representation of this in the docs. It doesn't mean it needs to be in this format, and this issue should continue to exist with the full details. But we need to help app authors make decisions that send them down the golden path and avoid gremlins. The [existing warnings](https://microsoft.github.io/react-native-windows/docs/native-modules#c-vs-c-for-native-modules) are not enough, ba

[2020-11-20 01:23] chrisglein commented on #34
This should factor in 2 things:
- [pages in react-native-gallery](https://github.com/microsoft/react-native-gallery/issues/14)
- [fluent-ui-react-native](https://github.com/microsoft/fluentui-react-native)

[2020-11-20 04:20] #199 closed

[2020-11-20 06:18] asklar commented on #267
Described what RNW apps are (UWP) and tradeoffs in https://github.com/microsoft/react-native-windows-samples/pull/270

[2020-11-20 06:18] #267 closed

[2020-11-20 14:48] dogoku opened #327 "'__builtin_ctzll': identifier not found while building Calculator example"
I tried to run the calculator example and I run into this issue

[code]

Also running `yarn start` does nothing. I see the react-native message on the console and waiting for a window to appear but nothing comes up. Pressing `r` or `d` logs a warning that no apps are connected.

Any help would be appreciated.

[2020-11-20 21:42] chrisglein commented on #327
Can you run these commands to give us context on your environment?

[code]

[2020-11-20 21:49] dogoku commented on #327
[code]

[code]

[2020-11-20 21:55] asklar commented on #327
This is likely using an old version of Folly - same bug as https://github.com/microsoft/react-native-windows/issues/5987
@dogoku can you please update to a newer RNW version? latest right now is 0.63.10

[2020-11-20 22:00] asklar commented on #327
PR: https://github.com/microsoft/react-native-windows-samples/pull/328

[2020-11-20 22:04] dogoku commented on #327
Thanks for the quick response, that did the trick 👍

[2020-11-20 22:04] #327 closed

[2020-11-24 19:25] asklar opened #330 "Document REACT_STRUCT can't be inside REACT_MODULE"
From @vmoroz

[2020-11-30 21:44] #330 closed

[2020-12-01 00:25] harinikmsft commented on #299
I won't be able to get to this now, moving to backlog until we have the next milestone up.

[2020-12-01 17:50] jonthysell commented on #322
While we may want to put a table like this into the docs, this isn't a docs issue. Given the number of developers that hit this, I honestly think this should be pinned in the main repo, not hidden away here off the radar.

[2020-12-03 01:02] NickGerleman opened #333 "Document property bags"
This is a super important concept for native module init, but I can't seem to find docs for it. We should add some.

[2020-12-03 01:03] NickGerleman opened #334 "Document JSI Usage for 0.64"
0.64 allows access to the JSI runtime. We should document how to do that. @vmoroz volunteered to write this.

[2020-12-03 19:29] chrisglein commented on #333
@NickGerleman can you dump the context from that offline thread that had some of the customer scenario here? (not contesting whether this needs to be documented, just hoping to get a head start on it from any discussion that happened recently)

[2020-12-05 03:53] NickGerleman opened #335 "Update terms in Metro docs for 0.64"
This change will likely need updating in our documentation as well.

_Originally posted by @dannyvv in https://github.com/microsoft/react-native-windows/pull/6663#discussion_r536240693_

[2020-12-05 03:55] NickGerleman opened #336 "Create a branch for 0.64 samples"
The automatic upgrade pipeline worked, but we should add this to a branch and do some quick manual validation in preparation for updating everything.

[2020-12-05 03:55] NickGerleman opened #337 "Remove react-native-patched references from docs"
This was a build-time directory that we don't have in 0.64. We should remove it from docs. There is a PR out, but disagreement over the scope of what we should document.

[2020-12-05 03:56] NickGerleman opened #338 "Update getting started page with dependencies for 0.64"
See https://microsoft.github.io/react-native-windows/docs/next/getting-started

[2020-12-05 03:58] NickGerleman opened #339 "Stop recommending a specific version of Node 12"
Node 14 is now LTS. We ask users to install a specific version of Node 12. Remove or rephrase, since we have compat with the current LTS

https://microsoft.github.io/react-native-windows/docs/next/rnw-dependencies

[2020-12-05 04:00] NickGerleman opened #340 "Re-add docs and add samples for task based C# native modules"
Offline discussion was that https://github.com/microsoft/react-native-windows-samples/pull/329 was the wrong change. We updated C# native modules to support Tasks, but samples still used ReactPromise. It was thought that docs were out of date, so docs were updated to refer to the old method used by samples instead of the other way around.

[2020-12-05 04:01] NickGerleman opened #341 "Update native module setup guide with versions for 0.64"
https://microsoft.github.io/react-native-windows/docs/next/native-modules-setup

Uses the right version in versioned docs. Live docs (next) refer to canary versions and an older version of React than what is used in 0.64.

[2020-12-05 04:03] NickGerleman opened #342 ""Using Community Native Modules" should mention autolinking"
https://microsoft.github.io/react-native-windows/docs/next/native-modules-using

Gives a whole bunch of instructions for manual linking. Doesn't mention autolinking or that workflow.

[2020-12-05 04:04] NickGerleman commented on #342
We do have a specific autolinking page below. Might be a bit confusing to someone who hasn't heard the term before though. https://microsoft.github.io/react-native-windows/docs/next/native-modules-autolinking

[2020-12-05 04:06] NickGerleman opened #343 "Update GitHub Actions Examples in "Native Modules Setup""
https://microsoft.github.io/react-native-windows/docs/next/native-modules-setup

The example shows some old versions of scripts that no longer work correctly.

[2020-12-05 04:09] NickGerleman opened #344 "Update versions in "NuGet Update" docs"
https://microsoft.github.io/react-native-windows/docs/next/nuget-update

Directs searching for specific 0.63 strings

[2020-12-05 04:50] asklar opened #345 "Update docs to use new packages.config nuget restore support"
We have docs that reference using `nuget restore` but we have migrated to adopt the newer syntax (`msbuild /restore /p:RestorePackagesConfig=true`). We should update the docs to reflect that.

[2020-12-07 19:28] chrisglein commented on #344
Would be good to have these references generic so we don't have to manually update on each release.

[2020-12-07 19:30] chrisglein commented on #343
Deep link to section: https://microsoft.github.io/react-native-windows/docs/next/native-modules-setup#setup-ci-continuous-integration-pipeline-for-your-module
Specifically this:
[code]
But whole area needs a scrub.

[2020-12-07 19:32] chrisglein commented on #342
Agreed, more people are likely to land at the generic "Using Community Native Modules" part and not know to click the article before. We should recommend autolinking by default.

[2020-12-07 19:34] chrisglein commented on #341
Would benefit from either an automated version update or non-specific versions in the docs so we don't need to do this manually each time (see also #344)

[2020-12-07 19:35] chrisglein commented on #340
@dannyvv Any appetite for update the sample, or providing a snippet of what change needs to be made so we can put this up for someone else to act on?

[2020-12-07 19:39] chrisglein commented on #339
Also need to validate that `rnw-dependencies.ps1` is updated to not push the specific version of 12. May have already been done.

[2020-12-07 19:40] chrisglein commented on #338
Filled with version numbers like this:

(may be more on the page)

See also #339 344

[2020-12-07 19:42] chrisglein commented on #337
@NickGerleman can you link the PR here?
Also, can you link the pages in the docs that would need to be updated?

[2020-12-07 19:43] chrisglein commented on #336
Update worked, yay. Let's have these prepped so we can push them when 0.64 goes live.

[2020-12-07 19:45] chrisglein commented on #335
Yep, we should update to match.

[2020-12-07 19:46] chrisglein commented on #345
@asklar Can you link the places in the docs that had this so it's easy for someone to drop in and fix it?

[2020-12-07 21:24] asklar commented on #345
https://microsoft.github.io/react-native-windows/docs/building-rnw

that page is in our docs but it isn't linked from the sidebar, BTW

We also have a mention of setting up the nuget task in CI but I don't think that's needed now anymore:
https://microsoft.github.io/react-native-windows/docs/native-modules-setup#setup-ci-continuous-integration-pipeline-for-your-module

[2020-12-09 19:19] chrisglein opened #346 "Out for the holidays! ❄😴⚛😊"
Many of our core react-native-windows contributors are taking some much needed vacation throughout December 2020. Thank you for being patient while we relax, recharge, and return to a normal responsiveness in January 2021. In the meantime feel free to continue to pose questions, open issues, and make feature requests - you just may not get a response right away.

[2020-12-13 00:31] alexanderblackh opened #353 "The KeyboardProps documentation isn't working in the last RNW build"
## Environment
Run the following in your terminal and copy the results here.
1. `npx react-native --version`:
2. `npx react-native info`:
System:
    OS: Windows 10 10.0.18363
    CPU: (8) x64 Intel(R) Core(TM) i7-8650U CPU @ 1.90GHz
    Memory: 9.06 GB / 15.92 GB
  Binaries:
    Node: 14.10.0 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.22.4 - C:\Program Files (x86)\Yarn\bin\yarn.CMD
    npm: 6

[2021-01-03 06:22] asklar opened #424 "re-generate API docs for 0.64"
Once we are ready to ship 0.64 I need to re-generate the API docs from the winmd.

[2021-01-04 18:59] #346 closed

[2021-01-04 22:33] alexanderblackh commented on #353
Any chance this can be done ASAP? Our product may be held up entirely without keyboard and gamepad controls.

[2021-01-04 22:39] harinikmsft commented on #353
@alexanderblackh - you might be able to find more recent and fuller set of APIs in this [spec](https://github.com/microsoft/react-native-windows/blob/master/vnext/proposals/active/keyboard-reconcile-desktop.md) while we write up some samples and docs in the website in the coming weeks.

[2021-01-05 17:54] jonthysell opened #354 "Update module docs to better outline C++ vs C# language choice"
As per https://github.com/microsoft/react-native-windows/issues/6819, we need to update the docs to better reflect the language choices when creating a new project.

[2021-01-06 22:27] #354 closed

[2021-01-13 20:52] alexanderblackh commented on #353
Thank you but this didn't work for us. Is it possible to get some help with this?

[2021-01-19 23:36] NickGerleman commented on #201
These were added

[2021-01-19 23:36] #201 closed

[2021-01-25 19:35] erksch opened #358 "Documentation for custom props"
Hey there!

I found it really hard to figure out react-native-windows specific custom props like `onMouseEnter` for the view component. There seems to be no (complete) documentation of the neat props you added to the components. For View props there is [IViewWindowsProps docs](https://microsoft.github.io/react-native-windows/docs/iviewwindowsprops-api) but there are many probs missing.

Maybe you

[2021-01-26 23:47] #345 closed

[2021-01-26 23:58] NickGerleman commented on #337
Quick fix with https://github.com/microsoft/react-native-windows-samples/commit/0613454de0cf4c8568aed690e8ab932cd3035ad7

[2021-01-26 23:58] #337 closed

[2021-01-27 00:01] NickGerleman commented on #344
Seems like we're mostly using 0.63 as an example, so this might be fine to leave as is. @dannyvv do you think we need to update the docs you wrote for 0.64? https://microsoft.github.io/react-native-windows/docs/next/nuget-update

[2021-01-27 22:59] #343 closed

[2021-01-27 23:00] NickGerleman commented on #336
Plan I heard was to just update samples after 0.64 release since we anticipate it to be low-effort.

[2021-01-27 23:00] #336 closed

[2021-01-28 00:36] #339 closed

[2021-01-28 04:16] #321 closed

[2021-01-28 04:16] #340 closed

[2021-01-28 08:25] Omar-Belghaouti opened #364 "Redux persist on windows app"
Hello, I am trying to implement redux persist on a windows app, redux was working fine but once I implement the redux persist there were errors. I would like to see a sample for implementing redux persist with specifying what engine should I use.

[2021-01-28 08:28] asklar commented on #364
You'll probably want to check out the redux persist repo if you haven't yet: https://github.com/rt2zz/redux-persist

[2021-01-28 08:39] Omar-Belghaouti commented on #364
I already did and there is no hint on using it on Windows app, I don't where is the problem but I think that the storage engine has major factor here.

[2021-01-28 08:44] asklar commented on #364
thanks for confirming. I'm not familiar with this module but it looks to be purely javascript-based, so there's no native code needed as far as I can tell. I'd recommend filing an issue on that repo, hopefully the module owners can assist.

Leaving this issue open for now in case someone else has any idea about this module.

[2021-01-28 11:16] NickGerleman commented on #364
redux-persist has an AsyncStorage backend for use with react-native apps. That should work for react-native-windows. Please let us know if you run into any issues though.

[2021-01-28 12:26] Omar-Belghaouti commented on #364
Thanks it worked just fine, but when I reload the app the state is not saved on the cache (I am logging the state and there is nothing), I was under the impression that it will be saved on %TEMP% folder or on some location on the hard drive.

Also I would like to know how it will give me space for my windows app, because I worked with it on Android and it does not give me enough space (only 6 MB o

[2021-01-28 12:42] asklar commented on #364
the RNW AsyncStorage API saves its content to [ApplicationData.LocalFolder](https://docs.microsoft.com/uwp/api/Windows.Storage.ApplicationData.LocalFolder?view=winrt-19041) so the data should live under `%localappdata%\Packages\<TheAppPackageFamilyName>\`

Note that if you are re-running the app with `yarn windows` or `npx react-native run-windows`, the CLI will first uninstall the installed app b

[2021-01-28 19:17] #364 closed

[2021-01-28 20:39] Omar-Belghaouti commented on #364
Thanks for the clarification, I am using ```redux-persist``` with ```@react-native-async-storage/async-storage``` as a storage engine, I hope this will help others who want to integrate it.

[2021-01-28 22:34] dannyvv commented on #300
The samples now have the right code changed in PR #209

[2021-01-28 22:34] #300 closed

[2021-01-28 22:57] #320 closed

[2021-01-29 00:13] asklar opened #367 "Complete view manager docs"
(raw notes from mtg)
- [ ] update VM docs JSX to use function instead of class component
- [x] if (auto control = view.try_as<winrt::SampleLibraryCPP::CustomUserControlCPP>
  But there's no CPP name
- [x] IViewManagerWithExportedEventTypeConstants
- [ ] how to write event handlers in VM
- [x] SetValue usage is wrong
- [x] Conversion from Brush and other xaml and winrt types #377 and https://github

[2021-01-29 02:01] #344 closed

[2021-01-29 02:16] #133 closed

[2021-01-29 02:18] NickGerleman commented on #263
@manohargss I know this is a while later, but please let us know if you're still seeing issues :)

[2021-01-29 02:18] #263 closed

[2021-01-29 02:58] NickGerleman opened #372 "Give concrete 0.64 version for react-native-template-typescript when available"
https://github.com/microsoft/react-native-windows-samples/pull/371 set to latest because a version isn't out yet, but we should tie 0.64 versioned docs to a compatible version of the TS template.

[2021-01-29 03:00] NickGerleman commented on #183
We have something vaguely similar to this now. https://github.com/microsoft/react-native-windows-samples/blob/master/docs/hermes.md

[2021-01-29 03:00] NickGerleman commented on #92
Instructions for using Hermes on Windows/macOS available here https://github.com/microsoft/react-native-windows-samples/blob/master/docs/hermes.md

[2021-01-29 03:00] #92 closed

[2021-01-29 23:52] #338 closed

[2021-01-29 23:53] #335 closed

[2021-01-29 23:53] #341 closed

[2021-01-31 07:56] asklar opened #374 "Native module setup docs update"
- [ ] Native module setup instructions should explain how to set up an example, ensure autolinking is working, etc.
- [ ] The doc says "follow the RN docs to create a module" but those are incomplete/not applicable to Windows necessarily (they mention Bob, or create-react-native-module, which don't support Windows

[2021-02-01 23:32] chrisglein commented on #62
Some helpful information [here](https://microsoft.github.io/react-native-windows/docs/next/native-code#distribution) maybe?

[2021-02-07 19:55] asklar opened #378 "Links to sample apps are broken"
The sample apps were moved in https://github.com/microsoft/react-native-windows/pull/7003/files but the links from the docs were not updated so they broke the docs CI

[2021-02-07 20:08] #378 closed

[2021-02-09 20:09] jonthysell commented on #314
Ok I see the confusion. Since the majority of the existing docs uses `NativeModuleSample` as the namespace, I will update the setup docs to use that name.

[2021-02-09 20:39] #314 closed

[2021-02-15 10:26] Omar-Belghaouti opened #387 "How to use IKeyboardEvent ?"
Hello, I would like to have a sample in JavaScript on how to use keyboard events using IKeyboardEvent (it would be great if its writtent using Functional Components approach).

[2021-02-15 10:27] Omar-Belghaouti opened #388 "How to use IKeyboardEvent ?"
Hello, I would like to have a sample in JavaScript on how to use keyboard events using IKeyboardEvent (it would be great if its written using Functional Components approach).

[2021-02-15 10:40] #387 closed

[2021-02-17 07:34] asklar opened #392 "Update view manager docs with new IViewManagerCreateWithProperties and IViewManagerRequiresNativeLayout"
new interfaces added in the last few weeks

[2021-02-17 07:44] asklar opened #394 "add Automerge/bot to samples repo"
sometimes PRs will linger in the samples repo, it'd be good to have the same level of automation as the code repo

[2021-02-22 19:39] chrisglein commented on #394
Done!

[2021-02-22 19:43] chrisglein commented on #388
I believe we were slow on documenting IKeyboardEvent because we had some unifying changes still in the works. Although at this point that is more stable. @rectified95 can you look into this and see what we have for API docs and whether we're showing up in the typings?

[2021-02-27 09:49] RedZepplin commented on #85
Did anyone ever come up with a solution to this?

[2021-02-28 06:43] #394 closed

[2021-03-01 14:36] Omar-Belghaouti opened #397 "Popup & Flyout samples!"
Hello, it would be a great deal if you show us how to use Flyout or Popup. I am trying to use them but I don't know what to give to the target prop. Can you help us with one sample showing us how to use them?

[2021-03-01 17:17] chrisglein commented on #85
@RedZepplin Do you have more information? The last case where we were given a repo to try to repro we were unable to. At the very least we'd need basic environment information.

Best way to do that is with a new clean bug specific to you.

[2021-03-01 19:33] chrisglein commented on #397
@chiaramooney thoughts on adding these components to [React Native Gallery](https://github.com/microsoft/react-native-gallery)? It likely isn't necessary to add specific sample apps just for these and covering in gallery is enough.

[2021-03-02 19:38] chiaramooney commented on #397
Gallery actually already has pages for both of these!
See issue: [here](https://github.com/microsoft/react-native-gallery/issues/14)
PR: [Flyout](https://github.com/microsoft/react-native-gallery/pull/72) [Popup], (https://github.com/microsoft/react-native-gallery/pull/70)

[2021-03-02 19:38] #397 closed

[2021-03-02 19:49] Omar-Belghaouti commented on #397
@chiaramooney why use these instead of using Modal directly from react-native?

[2021-03-02 20:05] asklar commented on #397
@Omar-Belghaouti we don't yet support Modal (I believe this is a more recent control?). Work to add it is tracked by https://github.com/microsoft/react-native-windows/issues/2989

[2021-03-02 20:16] Omar-Belghaouti commented on #397
Thanks @asklar we'd love to use Modal so we get the real experience of the cross platform application 😉

[2021-03-04 04:27] asklar opened #399 "macOS landing page still says 0.62"
ref: https://github.com/microsoft/react-native-macos/issues/673#issuecomment-763869905

[2021-03-04 19:42] chrisglein commented on #399
Waiting on push of 0.63 version of macOS docs. @acoates-ms has this part pending waiting on that (planned to do along side 0.64 RNW).

[2021-03-05 11:17] creambyemute opened #401 "Stuck at build (ReactPackageProvider) after adding rn-windows module to fresh init project"
Hey there,

So I'm trying to create a library/module (C++/WinRT) that I can consume in another project and followed the guides in the docs:
* https://microsoft.github.io/react-native-windows/docs/native-modules
* https://microsoft.github.io/react-native-windows/docs/native-modules-setup

After that I created a sample project to add the module to, as described in the above links and here:
* https:/

[2021-03-05 13:05] creambyemute commented on #401
Okay, I think I just skipped the `Next Steps` point before I continued to/with `Making your module ready for consumption in an app` and `Testing the module before it gets published`

[2021-03-05 13:05] #401 closed

[2021-03-08 20:43] jonthysell commented on #66
This is covered by: https://microsoft.github.io/react-native-windows/docs/rnw-dependencies#install-the-development-dependencies

[2021-03-08 20:45] #66 closed

[2021-03-10 03:05] #392 closed

[2021-03-11 05:02] asklar opened #404 "0.63 docs need API reference"
In 0.64 we started to auto-generate our docs from our interface definition source code. In 0.63 we don't have the textual description of the APIs, but there's still value in having the types and APIs documented. PR is here: #403

This came up when an external customer was looking to use an API but it wasn't clear what exists/doesn't on 0.63: https://github.com/microsoft/react-native-windows/issues

[2021-03-11 20:59] #404 closed

[2021-03-12 21:23] NickGerleman commented on #277
This should be fixed now. Will also update docs.

[2021-03-12 21:23] #277 closed

[2021-03-13 23:43] JerryMacedoCastro commented on #85
Hello.

I was having the same problem.

It was solved after I changed the solution platform from 'ARM' to 'x64'.

![image](https://user-images.githubusercontent.com/39466788/111052763-ac62ea80-843c-11eb-88f7-0df10b560692.png)

[2021-03-15 18:27] asklar opened #407 "Document best practices for native side of app to communicate with native module"
Autolinking will create a ReactPackageProvider for every linked module. However the native side of the app doesn't have a way to access the [native] instance of the native module to negotiate or communicate properties/call APIs.

Workaround: static APIs/properties
It would be good to provide a mechanism to avoid this.

[2021-03-15 20:37] asklar commented on #254
Needs documentation for C++ REACT_INIT

[2021-03-15 22:37] NickGerleman opened #408 "Versioning docs fails"
[code]

[code]

[code]

[2021-03-15 22:43] NickGerleman commented on #408
User error here. `yarn version` does something special compared to `yarn run version`.

[2021-03-15 22:43] #408 closed

[2021-03-15 23:39] NickGerleman opened #410 "Fix "fix-unbroken" script"
@jonthysell might know. I don't think the new exclusions fix-unbroken is adding are right, as there are missing ones.
You can delete those and just add `!versioned_docs/version-0.64/*-api-windows*.md` for the time being but we should fix fix-unbroken : )

_Originally posted by @asklar in https://github.com/microsoft/react-native-windows-samples/issues/409#issuecomment-799825843_

[2021-03-16 00:04] jonthysell commented on #410
fix-unbroken doesn't understand when files have different names than their ids, which is the case with all of the api docs.

[2021-03-16 00:30] #399 closed

[2021-03-16 01:03] asklar opened #411 "Document ExecuteJsi and other JSI Cxx-style APIs"
We should document these public APIs

[2021-03-16 01:05] NickGerleman commented on #411
Duplicate of #334

[2021-03-16 01:05] #411 closed

[2021-03-16 01:44] NickGerleman commented on #410
There were a couple of other exclusions I needed to manually.

[2021-03-16 17:06] asklar commented on #407
Related to: #333 and #198

[2021-03-16 21:38] jonthysell commented on #410
Right, those files are referring to api docs files by ID.

[2021-03-17 05:37] Saadnajmi opened #420 "ref.focus() api"
Re: https://github.com/microsoft/react-native-windows-samples/pull/376#discussion_r595429318

I saw in the react-native-windows 0.64 blog post update PR that we have a new API (`ref.focus()`) that allows us to call focus on any React component reference. Where is that API implemented? The closest PR I could find was this one (https://github.com/microsoft/react-native-windows/pull/6220/files) which

[2021-03-17 06:12] NickGerleman commented on #420
@Saadnajmi I think this will internally go to UIManager.focus(). I think this is also in core, implemented for Android at least.

[2021-03-18 18:52] chrisglein commented on #420
There isn't anything specific to React Native for Windows here that we're aware of. If it's under-documented in core (and that seems to be the case - I couldn't find anything obvious) you'll want to [file an issue on the  core website](https://github.com/facebook/react-native-website/issues). Sorry for having you bounce around between repos so much :(

[2021-03-18 18:52] #420 closed

[2021-03-18 21:02] Saadnajmi commented on #420
Thanks @NickGerleman and @chrisglein ! No worries on hopping between repos, this has been helpful. It looks like it's coming from React (not React Native) and knowing it's implemented in core is also great. I'll keep investigating myself =)

[2021-04-05 16:54] #424 closed

[2021-04-22 18:39] chrisglein opened #426 "Document E2E Debug Experience"
Meta-point for triage: we don't talk about the e2e debug experience in our docs but we should; there are Windows-specific pieces (e.g. how to use VS, does flipper work, JS engine choice) as well as RN concepts that the main RN website doesn't go into enough detail either (web debugging vs. direct debugging).

_Originally posted by @asklar in https://github.com/microsoft/react-native-windows/issues

[2021-04-23 12:37] BartoszKlonowski opened #427 "Native module thread affinity: Invalid window handle when opening FilePicker"
## Environment

1. `npx react-native --version`: 5.0.1-alpha.2
2. `npx react-native info`:
[code]
- Target Platform Version(s): 10.0.18362.0
- Target Device(s): Desktop
- Build Configuration:  Debug, x64

## Steps To Reproduce
Consider this part of a very basic FilePicker native module:
[code]
Which fails right after launching the coroutine (line with `co_await`), with the `INVALID WINDOW HANDLE`

[2021-04-24 01:37] chrisglein commented on #299
Duplicate of #301

[2021-04-24 01:38] #299 closed

[2021-04-26 18:43] asklar commented on #426
It should be possible to enable direct debugging in Release and then attach VS in "script mode" (separate from attaching VS in "native mode"). We need to put all these combinations/switches into words.

[2021-04-26 23:03] BartoszKlonowski commented on #427
Sure! Feel free to assign this me to this unless you have something specific in mind or just would like to handle it.

[2021-04-28 17:19] chiaramooney commented on #62
Guidance doc created for publishing First-Party Apps to MS Store in OneNote under Troubleshooting. Steps for publishing Third-Party Apps will be different than those for First-Party. Need to do additional investigation here for Third-Party publishing steps. Theoretically should be identical to UWP publishing process.

[2021-04-28 23:15] rectified95 commented on #353
@alexanderblackh A few weeks ago, I fixed `onKeyDown` not working for \<View>
https://github.com/microsoft/react-native-windows/pull/7406
Let us know if this helps you, and we can close this issue.

[2021-04-29 00:17] rectified95 commented on #358
@erksch https://github.com/DefinitelyTyped/DefinitelyTyped/pull/51062 contains some new Windows-specific typings
Is this the project you referred to for TS types?

We're working on documenting the keyboard/mouse APIs better, but they're still being developed (esp. the mouse stuff).

[2021-04-29 20:36] asklar opened #430 "Publish experimental NuGet docs"
We should clean up the docs/sidebar and give info on how to use the experimental nuget dependency (incl. the react-native-windows-init option)

[2021-05-03 18:24] chrisglein commented on #430
This resulted from a lowercase issue and has been addressed.
This works: https://microsoft.github.io/react-native-windows/docs/next/NuGet

[2021-05-03 18:24] #430 closed

[2021-05-03 19:12] rectified95 commented on #353
Verified this works now. Closing.

[2021-05-03 19:12] #353 closed

[2021-05-03 20:29] rectified95 commented on #353
@alexanderblackh I just realized that my PR was addressing a problem with Pressable - this worked for View all along - can you elaborate what exactly your problem was? I am able to hit breakpoints in the keyDown handler, using the code from the website you linked to.

[2021-05-13 18:08] namrog84 opened #435 "Example showing Windows API and weak pointer reference back to ReactModule"
In some cases windows APIs need to be on the UI thread (different than thread react native is running on).

Sometimes people might pass a get_weak() or get_this() into the lambda of some windows api.
However there are several nuances around this that can complicate things.

c++ std  has std::enabled_shared_from_this() and winrt c++ has some public implement<thisClass>

Both either get_this() or ge

[2021-05-13 18:09] namrog84 opened #436 "Missing documentation coverage: CallJsFunction"
There is example documentation showing EmitJsEvent, but there is also the public API for CallJSFunction. It'd be great to have a simple example in the example app or whatever somewhere.

Just something to point to people who want to use CallJsFunction as a valid thing, and expected parameters (basically just add 'emit')

[2021-05-13 18:11] chrisglein commented on #436
Sounds like we have API documentation, but not usage documentation.
Clarification could be had around `EmitJsEvent` (tied to a JS event emitter) and `DispatchEvent` (tired to a View) and 'CallJsFunction' (lower level function call)

[2021-05-13 18:11] chrisglein commented on #436
Also worth answering what exists in core and what documentation exists there.

[2021-05-20 20:22] #427 closed

[2021-05-20 22:30] asklar commented on #427
This is now live at https://microsoft.github.io/react-native-windows/docs/next/native-modules-async

[2021-05-20 22:31] asklar commented on #427
thanks @BartoszKlonowski for this change!

[2021-05-21 13:09] NickGerleman opened #439 "Move Hermes Inspector Instructions to Docs Site"
Currently on the main repo, but useful for a public audience (along with current Hermes docs in the docs site). https://github.com/microsoft/react-native-windows/blob/fedcbf60574ae67ec8a30f3f0c015f4070ee2f26/docs/inspector.md

[2021-05-21 20:10] asklar opened #442 "Document CLI options on the website"
We have docs for the react-native-windows-init and for autolinking, but not for the CLI itself.
We do have a [README.md file in the CLI](https://github.com/microsoft/react-native-windows/blob/master/packages/%40react-native-windows/cli/README.md) from where to source the information.

[2021-05-24 18:16] chrisglein commented on #442
Some of this is in the docs, but it's a subset: https://microsoft.github.io/react-native-windows/docs/getting-started#install-the-windows-extension
It'd be better to have a single comprehensive source that is shared and also machine generated.

[2021-05-24 18:18] chrisglein commented on #439
Since the Hermes content is in the Experimental tab putting it there or adjacent to there makes the most sense: https://microsoft.github.io/react-native-windows/docs/hermes
This should just be a matter of copying the md that is linked above.

[2021-05-25 12:47] NickGerleman opened #448 "Homepage Responsive Design"
The CSS we are using specifically for the main page does not generate a usable page on mobile.

![0B83CECB-C51C-4EA1-BC36-2448073296A8](https://user-images.githubusercontent.com/835219/119500414-a0d54f00-bd1c-11eb-99fc-810444763025.png)
![0F017CDA-13B7-4127-99CD-2DCA354C2C4E](https://user-images.githubusercontent.com/835219/119500422-a337a900-bd1c-11eb-9b59-142ac134f3e7.png)

[2021-05-25 17:22] asklar commented on #448
Duplicate of #147 (or related at least)

[2021-05-27 18:43] #448 closed

[2021-06-17 06:05] asklar opened #453 "Update or remove e2e test from website"
I just realized that we do have an e2e-test page in current, but it's not linked from anything and the info in there is probably stale
We need to either update it, or remove it and link to the [e2e testing .md file ](https://github.com/microsoft/react-native-windows/blob/main/docs/e2e-testing.md) in the repo instead?

[Author and Run E2E Test for React Native Windows · React Native for Windows + m

[2021-06-17 08:23] rectified95 commented on #453
Good call. The current correct guidance is the wiki page of the RNW repo (also with a level of indirection, could be simplified) - https://github.com/microsoft/react-native-windows/wiki/E2E-Test
We could first move this content to the website, and also incorporate updated examples of writing tests (I think it mostly focuses of configuring/running them).

[2021-06-17 18:39] chrisglein commented on #453
Clarity around how to do UI testing is a common ask. If there's way we can clean this up and leverage that documentation for people outside the framework that'd be good.

[2021-07-07 04:52] ArunVenkat1994 opened #469 "auto link not happening for the package in react native windows"
I have converted one package (react-native-fs) from older version into include few of my requirements.

When I include the package using package builder, it is linking properly.

    using Microsoft.ReactNative;
    using Microsoft.ReactNative.Managed;
    using System.Linq;
    using System.Reflection;

    namespace Test
    {
    public partial class ReactPackageProvider : IReactPackageProvider

[2021-07-09 22:03] Arcalise08 opened #472 "React native popup"
Anyone happen to have a sample of the native module Popup. I'm having issues defining the target. I use only stateless components in react, Not sure of that's the issue or not. Haven't seen a working example of the popup module in any of the samples.

[2021-07-12 00:25] asklar commented on #469
@ArunVenkat1994 can you clarify how the module was created?
The new "lib" template should put in the right information in the project file so that autolinking can pick it up. If you copied the project from an older one, it will likely not have the right Imports, etc. so that's why it may not be picked up.
See here for instructions on creating a module: https://microsoft.github.io/react-native-wind

[2021-07-12 18:21] chrisglein commented on #472
There are also examples in the gallery app: https://github.com/microsoft/react-native-gallery/

Moving this issue to the samples repo as that perhaps we can link to usage examples from the documentation.

[2021-07-12 18:41] Arcalise08 commented on #472
I see! Thanks everyone. I have got it working now with just a simple useRef in a functional component. I will say I'm a little underwhelmed with it. Perhaps there's more to it, But I has assumed that a native component named "Popup" would pop a window separate from the main app view.

I think most people coming from a react background would be better off just creating their overlays by creating th

[2021-07-12 19:12] jonthysell opened #473 "Remove "TestProject" sample"
I don't understand what the [TestProject](https://github.com/microsoft/react-native-windows-samples/tree/master/samples/TestProject) sample is supposed to capture. It looks like it might have been accidentally checked in.

[2021-07-12 19:12] jonthysell commented on #473
@qmatteoq Did you mean for this sample to be checked in?

[2021-07-12 19:47] chrisglein commented on #472
It has more in common with the [UWP Popup](https://docs.microsoft.com/en-us/uwp/api/Windows.UI.Xaml.Controls.Primitives.Popup?view=winrt-20348), rather than a tool for creating a new window. Can you see your point that the term "popup" has overloaded meanings.

[2021-07-12 19:54] Arcalise08 commented on #472
Seems rather unnecessary to me if the popup is stuck in the bounds of the application window. React can already handle popups in that way.

[2021-07-12 20:29] asklar commented on #472
the UWP popup allows showing outside of the app window (via the [ShouldConstrainToRootBounds](https://docs.microsoft.com/uwp/api/windows.ui.xaml.controls.primitives.popup.shouldconstraintorootbounds) property). You can locally hardcode it in the RNW code to set this property (see \vnext\Microsoft.ReactNative\Views\PopupViewManager.cpp) or you can expose it as a new property, feel free to send a PR

[2021-07-12 20:44] Arcalise08 commented on #472
That is definitely something worth doing. I may have time to do so on the weekends. Were having to move our project from react-native for windows as it doesn't currently support react-native-svg and that is required for our project. Although I saw it was in progress on the board so hopefully any day now!

[2021-07-12 20:48] #472 closed

[2021-07-14 16:57] chiaramooney opened #475 "Rename master branch to main"
Creating issue to track work item of renaming the default branch from master to main to follow the naming convention we have set in other RNW repositories.

[2021-07-15 18:34] chrisglein commented on #473
It sounded like it might have been an accident that it's there. Go ahead and remove and we can restore if that's in error.

[2021-07-19 14:56] NickGerleman opened #491 "Move generated docs into their own folder"
There's a mix of auto-generated and manually curated docs within the same folder, without naming distinction. Moving the generated docs to their own folder would make it easier to scan through manual docs.

[2021-07-19 15:52] NickGerleman commented on #475
Looks like this has been completed.

[2021-07-19 15:52] #475 closed

[2021-07-19 18:23] chrisglein commented on #491
Instructions for how to do this were recently updated (thanks @chiaramooney). We'll need to update those to match any restructure here.

[2021-07-19 22:40] JunielKatarn opened #495 "Need to react-native-windows-samples/edit/main/docs/win10-compat.md with SDK version"
Need to update https://github.com/microsoft/react-native-windows-samples/edit/main/docs/win10-compat.md once we cut 0.65 versioned docs, since this change was in 0.66.

_Originally posted by @NickGerleman in https://github.com/microsoft/react-native-windows/issues/7779#issuecomment-882626956_

[2021-07-20 08:48] NickGerleman opened #496 "Website Publish GitHub Action Can Fail When Multiple PRs merged Quickly"
![image](https://user-images.githubusercontent.com/835219/126290977-cfaece68-6188-4edb-8680-342c990dcb59.png)

See sample here: https://github.com/microsoft/react-native-windows-samples/actions/runs/1048197244

There looks to be a race condition where the various actions race against each other.

[2021-07-22 18:23] chrisglein commented on #495
Could also edit the table now to include 0.66. Slightly weird without 0.65 out, but also less bad than forgetting this.

[2021-07-22 18:24] chrisglein commented on #496
Fix could be to only allow running one publish at a time.

[2021-07-26 07:17] qmatteoq commented on #473
Yes, feel free to remove, it seems it has been captured by mistake. Sorry for the issue and sorry for the delay in getting back to you, I was on vacation 😊

[2021-08-05 22:19] #473 closed

[2021-08-09 20:16] chrisglein opened #509 "Create sample of unpackaged RNW app"
Extracting from [this discussion](https://github.com/microsoft/react-native-windows/issues/8332), it would be helpful to have a sample of an unpackaged app, rather than relying on the playground app. Something of a minimal shell of an app rather than a mega test app would be more helpful

[2021-08-13 16:36] chrisglein opened #513 "Provide guidance on performance tradeoffs with comparable platform choices (pure native, web view, etc.)"
We regularly have app authors asking for guidance on which is the best option for them for how to architect their app. Example options:
- Pure native (UWP/XAML)
- React Native for Windows
- A web view in a container Win32 app (e.g. Electron)
- Hybrid (e.g. UWP app that has WebView for a large section of its app)

All of these have valid uses. And all of them have tradeoffs. We should write down so

[2021-08-20 20:23] asklar opened #517 "Add Showcase page"

[2021-08-24 18:29] chrisglein opened #522 "Update samples to 0.65"
[RNW 0.65 has released!](https://github.com/microsoft/react-native-windows/releases/tag/react-native-windows_v0.65.0)

Per the [RNW 0.65 Release Status](https://github.com/microsoft/react-native-windows/issues/7679) we need to update the samples ([upgrade procedure](https://github.com/microsoft/react-native-windows-samples/blob/master/samples/README.md#upgrade-procedure))

[2021-09-01 17:01] #35 closed

[2021-09-01 18:39] stmoy commented on #183
This is probably sufficient for now: https://microsoft.github.io/react-native-windows/docs/hermes

[2021-09-01 19:24] TatianaKapos opened #527 "Remove Certificates from Sample Apps"
The windows sample apps still have temporary certificates that need to be removed. Currently certificates are under publisher React Native Window Samples.

[2021-09-02 05:54] tero-paananen opened #529 "Module registration missing in AppServiceDemo"
I had to add following module registration code into `App.xaml.cs` to get ReactNativeAppServiceModule registered.

[code]

and after that `NativeModules.ReactNativeAppServiceModule` exists.

Sidenote is that `GetRegistryKey` fails in my computer. `var ns = ReactPropertyBagHelper.GetNamespace("RegistryChannel");` call returns null.

Sidenote also that after cloning example from github was example p

[2021-09-02 05:56] tero-paananen commented on #529
I tried to call `npx react-native autolink-windows` but it did not anything changes

[2021-09-02 06:18] tero-paananen commented on #529
I have always had long path issues that is very interesting even i have ran this rn-windows setup script in PowerShell https://aka.ms/rnw-deps.ps1

[2021-09-02 18:34] chrisglein commented on #527
@chiaramooney can you link the issue for removing it from the template?
In the meantime maybe we advise people to build debug when running samples so people aren't blocked when running this the first time (after cloning and trying to run samples).
Also if there's an issue tracking what we need to have release also work here, link that. Or create one.

[2021-09-02 18:37] chrisglein commented on #529
@qmatteoq This is the sample from the new blog post. Can you help take a look?

@tero-paananen Can you capture your environment information with these commands?
`npx react-native --version`
`npx react-native info`

[2021-09-02 18:54] jonthysell commented on #513
Working on this, but not for 0.66.

[2021-09-02 20:17] qmatteoq commented on #529
Sure! I'm ok vacation tomorrow and this weekend, but I'll take a look on Monday.

[2021-09-03 05:25] tero-paananen commented on #529
6.0.0

System:
    OS: Windows 10 10.0.19043
    CPU: (12) x64 Intel(R) Core(TM) i9-8950HK CPU @ 2.90GHz
    Memory: 25.29 GB / 31.90 GB
  Binaries:
    Node: 12.22.5 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.22.5 - C:\Program Files (x86)\Yarn\bin\yarn.CMD
    npm: 6.14.14 - C:\Program Files\nodejs\npm.CMD
    Watchman: Not Found
  SDKs:
    Android SDK: Not Found
    Windows SDK:
      Allow

[2021-09-06 10:18] qmatteoq commented on #529
I've submitted #531 to add the missing code which leads to failing the registration of the App Service. I apologize for the mistake, it seems that during the upgrade to 0.65 some pieces got lost.

[2021-09-07 12:09] tero-paananen commented on #529
I tested code with changes in that PR and it still seems that `protected override void OnBackgroundActivated(BackgroundActivatedEventArgs args)` is not called in App.xaml.cs and `var ns = ReactPropertyBagHelper.GetNamespace("RegistryChannel");` returns null in `ReactNativeModule.cs`

[2021-09-07 12:19] tero-paananen commented on #529
`ReactNativeAppServiceModule.launchFullTrustProcess` call seems to throw error and thats why win32 app is not started

[code]

[code]

[2021-09-07 12:22] qmatteoq commented on #529
Thanks @tero-paananen for the update. I'll investigate what's going on, I can't reproduce it on my side, the process always runs fine.  Just to be sure, are you deploying and launching the `appservicedemo.Package` project and not the `appservicedemo `one?

[2021-09-07 12:27] tero-paananen commented on #529
Very good question! It should be `appservicedemo.Package` but it is not that by default (why?) and checking this was my mistake. `OnBackgroundActivated` is now called after using package. Getting registey key still fails.

[2021-09-07 12:29] tero-paananen commented on #529
`string key = args.Request.Message["RegistryKeyName"].ToString();` key seems to be empyt string

[2021-09-07 12:36] qmatteoq commented on #529
Thanks for the update @tero-paananen! Unfortunately, Visual Studio uses its own logic to pick up the startup project, it isn't stored as information inside the solution file and, as such, when you clone the repo it gets lost.
Regarding the registry key not working, which value are you trying to request? The sample app can pick up one of the keys under HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows

[2021-09-07 12:46] tero-paananen commented on #529
Set this line into first in `appservicedemo.sln` it is then always default project
[code]

[2021-09-07 12:47] tero-paananen commented on #529
That was user error. Now example works. Try to fix that default project problem. See help above.

[2021-09-07 12:53] qmatteoq commented on #529
Thanks for the hint! I just pushed this change in the same PR, since it's still pending approval.

[2021-09-07 17:43] rectified95 commented on #453
@NickGerleman's recent PR https://github.com/microsoft/react-native-windows/pull/8539 moves us closer to external re-usability of our E2E infra. It contains up-to-date descriptions of how use what we currently have. We should use that content for our docs .

[2021-09-07 18:58] chiaramooney commented on #527
Remove Cert from Template: https://github.com/microsoft/react-native-windows/issues/8202

[2021-09-09 19:36] chiaramooney opened #533 "Add Updating RNW App to New RNW Version Instructions"
Do we have a page/section devoted to updating RNW apps on the website? If not, I think this would be a good addition. If we do and I missed it, is there a change we could make to have this section be more visible?

I also just investigated the rn-upgrade-helper tool which now has support for Windows. Including information about this tool could also be helpful in that section.

[2021-09-09 21:40] chrisglein commented on #533
There's something on the core repo's docs: https://reactnative.dev/docs/upgrading

And the samples have some guidance: https://github.com/microsoft/react-native-windows-samples/blob/main/samples/README.md#upgrade-procedure
(but that's not discoverable for people working on their own apps)

If we have guidance different from core (and I think we do?), we definitely should cover that in the website.

[2021-09-10 05:58] ihcha opened #534 "8 or more parameters when declaring "ReactMethod"."
Error of "CS1501" when there are 8 or more parameters when declaring "ReactMethod".
* error CS1501: No overload for method `ReadArgs' takes `8' arguments [duplicate]

it is sample...
[ReactMethod("TestArgs")]
public void TestArgs(int a1, int a2, int a3, int a4, int a5, int a6, int a7, int a8, IReactPromise<int> promise)
{
    promise.Resolve(a1+a2+a3+a4+a5+a6+a7+a8);
    return;
}

OS target is UW

[2021-09-10 06:04] ihcha commented on #534
target is UWP(windows)

[2021-09-10 08:10] tero-paananen commented on #529
@qmatteoq  can you give any help for me about my problems with latest Visual Studio update https://github.com/microsoft/react-native-windows/issues/8581

[2021-09-10 15:54] chrisglein commented on #534
Can you include the JSX snippet where you are calling this method? Or does it fail even without a callsite?

[2021-09-10 21:11] qmatteoq commented on #529
Hello @tero-paananen, the bug you have created is under triage, the team is going to update it as soon as we have more info on what's going on. I work with React Native for Windows, but I'm not part of the core team who builds the platform, so I don't know exactly which is the issue here.

[2021-09-12 23:30] ihcha commented on #534
PS D:\Git\ReactNativeModule\example> npx react-native --version
5.0.1
PS D:\Git\ReactNativeModule\example> npx react-native run-windows --info

  System:
    OS: Windows 10 10.0.19042
    CPU: (8) x64 Intel(R) Core(TM) i7-6700 CPU @ 3.40GHz
    Memory: 7.70 GB / 15.93 GB
  Binaries:
    Node: 14.17.3 - C:\Program Files (x86)\nodejs\node.EXE
    Yarn: 1.22.10 - ~\AppData\Roaming\npm\yarn.CMD
    np

[2021-09-12 23:32] ihcha commented on #534
This problem is just an error from 'visual studio' that creates 'ReactNative module'.
![image](https://user-images.githubusercontent.com/89837478/133006168-72100459-32a8-4d5a-af22-d3e72c3993c0.png)

[2021-09-13 08:17] NickGerleman commented on #534
IIRC the limited parameter count for C# ReactMethods was a known limitation.

cc @chrisglein @vmoroz

[2021-09-13 10:42] tero-paananen commented on #529
See the problems that we have now with latest VS and project that has uwp and win32 console app https://github.com/microsoft/react-native-windows/issues/8581

Could you test this case and maybe manage to build fully working example? There is lot of same kind of errors with VS for example https://developercommunity.visualstudio.com/t/Visual-Studio-2019-version-1610UWP/1437211 and https://developerc

[2021-09-13 10:43] tero-paananen commented on #529
It seems that i have to start using **Visual Studio 16.9.9** as many others has done

[2021-09-13 12:08] qmatteoq commented on #529
Thanks for the update @tero-paananen. Let me check with the team because if you and others are hitting the same issue all of a sudden (also with UWP projects different than mine), it's very likely that I can't do much because it isn't a specific problem of my solution, but a generic Visual Studio issue affecting UWP projects.

[2021-09-13 18:29] chrisglein commented on #533
We've been including a blurb in the version release notes. That's a good place to start.

[2021-09-14 00:46] chrisglein commented on #533
@jonthysell assigning this one your way since you're head is already in this space. Looking to create a landing page on the website for people asking questions about upgrading.

[2021-09-16 18:34] chrisglein commented on #156
There are two troubleshooting pages today:
- https://microsoft.github.io/react-native-windows/docs/native-modules-troubleshooting
- https://microsoft.github.io/react-native-windows/docs/metro-config-out-tree-platforms

Maybe something with content on the wiki? Only page I spotted was [for Metro troubleshooting](https://github.com/microsoft/react-native-windows/wiki/Metro-Troubleshooting-Guide) (so

[2021-09-16 18:42] chrisglein commented on #156
Some content here: #67

[2021-09-16 18:45] chrisglein commented on #29
Old issue, but let me try to catch up with info on the latest:
Documentation for `Popup` is [here](https://microsoft.github.io/react-native-windows/docs/popup-component). There are usage examples via the tests on the main RNW repo [here](https://github.com/microsoft/react-native-windows/blob/6c871e6ba27888804c776e5deeefbc7064e181d0/packages/%40react-native-windows/tester/src/js/examples-win/Popup/

[2021-09-16 18:55] chrisglein commented on #534
Yes, I believe there is a known limit here on args (I think the code for that is [here](https://github.com/microsoft/react-native-windows/blob/003602b90aeda1b2a43702c6a9307c0f01010e59/vnext/Microsoft.ReactNative.Managed/JSValueReader.cs#L372)). It seems reasonable that there's some limit, whether 8 is the right number or not. There is no issue that I've been able to find that's been logged on the

[2021-09-16 18:55] #534 closed

[2021-09-16 20:50] #522 closed

[2021-09-17 23:41] chrisglein opened #540 "Create the simplest sample that uses RNW in a Xaml islands"
Xaml Islands are a complicated topic, and we get lots and lots of questions about them ([and bugs that happen on them](https://github.com/microsoft/react-native-windows/issues?q=is%3Aopen+is%3Aissue+label%3A%22Area%3A+Islands%22)).

- There's a nice [article](https://techcommunity.microsoft.com/t5/windows-dev-appconsult/getting-started-with-react-native-for-windows/ba-p/912093) that walks through

[2021-09-20 19:00] chrisglein opened #541 "Ensure there is a sample that demonstrates mouse hover"
[This question](https://github.com/microsoft/react-native-windows/discussions/8645) comes up often. And if a question comes up often... that means we need better documentation and we need samples that capture common scenarios.

**Documentation**: [Known to be missing](https://github.com/microsoft/react-native-windows-samples/issues/358).

**Samples**: We could either create a new sample that focus

[2021-09-21 01:12] chrisglein commented on #278
Duplicate of #517

[2021-09-21 16:53] chiaramooney commented on #139
Another option in the meantime would be to use `npx react-native run-windows --msbuildprops AppxPackageSigningEnabled=False` for debug builds and `npx react-native run-windows --release --deploy-from-layout --msbuildprops AppxPackageSigningEnabled=False`

[2021-09-22 03:00] #278 closed

[2021-09-22 23:07] asklar commented on #540
To me this is by design, per discussion in microsoft/react-native-windows-samples#267

[2021-09-22 23:27] chrisglein commented on #540
By which you mean that TodosFeed should suffice? It isn't minimal, and has been locked in time to match the article it goes with.

At the very least, we don't point people in a clear direction if they're looking to use RNW with XAML Islands, and it comes up a lot. Whatever we thinking is exemplary here should also be discoverable.

[2021-09-22 23:52] asklar commented on #540
no, what I'm saying is we probably don't want 3rd parties to do xaml islands without some white gloving. If you remember the conversation we had in 267, we had decided to not publicize xaml islands for RNW since there are lots of gotchas and we are not resourced to support it for arbitrary 3rd parties.

[2021-09-23 00:07] chrisglein opened #548 "AppServiceDemo isn't included in the index of the samples page"
There should be a link from [here](https://github.com/microsoft/react-native-windows-samples/tree/main/samples) to [this](https://github.com/microsoft/react-native-windows-samples/tree/main/samples/AppServiceDemo), just like there are links for all the other main samples (even if they don't have CI status). This aids with discoverability of the sample (since the top-level "SAMPLES" tab of the web

[2021-09-23 00:10] chrisglein opened #549 "Samples landing page (from website) should describe what the sample are"
The website directs people [here](https://github.com/microsoft/react-native-windows-samples/tree/main/samples), which has links to the samples via their CI Status. But there's no description of what the samples are, why you might choose to look at one versus another. Maybe we expect people to be directed to the samples via other articles... but if that were the case we wouldn't really want that bi

[2021-09-24 03:52] Jayita10 commented on #548
I want to work on this issue

[2021-09-24 05:32] Jayita10 commented on #548
I think AppServiceDemo should be added [here](https://github.com/microsoft/react-native-windows-samples/blob/main/README.md) also. @chrisglein?

[2021-09-27 18:21] jonthysell commented on #548
Oops, sorry, didn't see you ask this. The answers was yes, though I already did it: https://github.com/microsoft/react-native-windows-samples/commit/d0a45fde9283beb42fc926784155a9e631d87f93

[2021-09-27 18:21] #548 closed

[2021-09-27 19:17] #549 closed

[2021-10-19 09:49] tero-paananen commented on #529
Original issue is fixed so i close this issue.

[2021-10-20 07:30] tero-paananen opened #566 "Windows App Certification test failed"
### Sample

AppServiceDemo

### Problem Description

Quite many test fails into error `The test was blocked from execution. Please try re-running the validation. If the test execution remains blocked then please contact support.`

I have same problem with my own app that is about the same that this example app. My app is React Native Windows 0.65 app that has Win32 fulltrust console exe in the sol

[2021-10-20 07:30] #566 closed

[2021-10-20 07:37] tero-paananen commented on #566
To manage to build application remember to call `npx react-native autolink-windows`.

Remember to hack this line https://github.com/microsoft/react-native-windows/blob/cff04cb36c2eb8abf15b6a4ee514bac6e28cb6a8/vnext/PropertySheets/Autolink.props#L12

into this

`<AutolinkCommandArgs Condition="'$(AutolinkCommandArgs)' == '' And '$(SolutionPath)' != '' And '$(SolutionPath)' != '*Undefined*' And '$(P

[2021-10-20 08:06] tero-paananen commented on #566
Even my app got same error in validation i managed to submit my app into store

[2021-10-20 11:13] tero-paananen commented on #566
Hard to say now what is the problem...

[2021-10-20 15:46] jonthysell opened #567 "Links to Pluralsights always return 403s when checked by unbroken"
### Page url

CI

### Problem Description

Our CI checks links in our docs using unbroken. For some reason, working Pluralsight links keep reporting failure.

Failing CI run here: https://github.com/microsoft/react-native-windows-samples/runs/3940931407?check_suite_focus=true

The same issue is tracked here in the RNW repo: https://github.com/microsoft/react-native-windows/issues/8873

[2021-10-21 18:12] asklar commented on #567
pluralsight might be throttling
worst case scenario add an exclusion to the pluralsight url

[2021-10-25 18:37] NickGerleman opened #571 "Add documentation for Version Properties and Macros"
### Suggestion

Adding the stuff from https://github.com/microsoft/react-native-windows/pull/8772

### Location

_No response_

[2021-10-27 19:38] chiaramooney opened #574 "Find Article Explaining Security Vulnerability of Publishing Certificates"
### Page url

https://microsoft.github.io/react-native-windows/docs/setup-ci

### Problem Description

Find article explaining security vulnerability of publishing certificates to add context.

[2021-10-30 03:51] roxk opened #579 "Native module's first example showcase incorrect usage of `REACT_METHOD`. It's paired with a method without a promise as one its argument"
### Page url

https://microsoft.github.io/react-native-windows/docs/native-modules

### Problem Description

`REACT_METHOD` requires a promise as one of the arguments, but the doc sample at "1. Authoring your Native Module" has the following methods
[code]
which, when it is paired with the following ts, isn't working:
[code]

Changing the above code as follows fixes the issue:
[code]

# How I disc

[2021-10-30 04:22] roxk opened #580 "Suggestion: emphasize `noexcept` is a must for `REACT_METHOD` and friends"
### Page url

https://microsoft.github.io/react-native-windows/docs/native-modules

### Problem Description

The doc shows all examples with `noexcept`, but doesn't indicate it's a requirement. When I just started writing code for the native module, I decided I didn't want to handle exception requirement yet so I omitted `noexcept` in my method. I was then greeted with a wall of compile errors:
[c

[2021-11-01 18:25] asklar commented on #580
Good update : ) Mind sending a PR?

[2021-11-01 18:38] asklar commented on #579
The REACT_METHOD macro works with a return value (no promise) when the JS side is using the method via a callback, like:
https://github.com/microsoft/react-native-windows/blob/main/packages/sample-apps/index.windows.js#L214

However, it won't work if you are trying to use it in an `await`, but the docs don't clarify this distinction.

So the docs are "right" as long as you use callbacks, not await

[2021-11-02 06:47] #491 closed

[2021-11-02 17:33] #62 closed

[2021-11-04 11:40] tero-paananen opened #586 "AppServiceDemo on rn-windows 0.66.3 does not build"
### Sample

AppServiceDemo

### Problem Description

AppServiceDemo on `rn-windows 0.66.3` does not build. I get error `Payload contains two or more files with the same destination path 'Microsoft.UI.Xaml.Markup.winmd'`

I have same problem with my app that is React Native Windows 0.66.2 UWP C# and Win32 console solution.

See AppServiceDemo example app ported into 0.66.3 below.

[code]

### Steps

[2021-11-04 11:41] tero-paananen commented on #586
[AppServiceDemo_0.66.zip](https://github.com/microsoft/react-native-windows-samples/files/7474492/AppServiceDemo_0.66.zip)

There is AppServiceDemo that uses rn-windows 0.66.3

[2021-11-04 12:04] roxk opened #588 "`WinUI2xPackageVersion` should be `WinUI2xVersion` instead in SDK customization"
### Page url

https://microsoft.github.io/react-native-windows/docs/customizing-sdk-versions

### Problem Description

The details section says the property to use is `WinUI2xVersion`, but the sample code version in both C# and C++ uses `WinUI2xPackageVersion`, which doesn't work.

[2021-11-04 12:23] tero-paananen commented on #586
I tried use same `<TargetPlatformVersion>10.0.19041.0</TargetPlatformVersion>` versions in `appservicedemo.Package.wapproj`  and `appservicedemo.csproj`  but did not help

[2021-11-04 12:37] tero-paananen commented on #586
After setting also same version into `ReactNativeAppServiceModule.csproj` project builds.

[2021-11-04 12:41] tero-paananen commented on #586
So if solution has same `<TargetPlatformVersion>10.0.19041.0</TargetPlatformVersion>`  for all sub-projects it will build.

[2021-11-04 18:33] asklar commented on #586
0.66 changed the target platform version to 19041: microsoft/react-native-windows#7779
So this may be a case of "upgrading just the entry in package.json isn't enough".
See release notes for 0.66: https://github.com/microsoft/react-native-windows/releases/tag/react-native-windows_v0.66.0

Closing since this seems to be unblocked : )

[2021-11-04 18:44] tero-paananen commented on #586
"Note that you may still need to install previous SDKs to use community modules that have not yet updated." seems not work if we have to update versions in all modules in our project

[2021-11-04 18:50] NickGerleman commented on #586
I would also expect older community modules to work, like they do in gallery. It sounds like there may be a specific issue with this example...

@jonthysell is there work to upgrade the samples?

[2021-11-04 18:53] tero-paananen commented on #586
This example and my app is package project that contains app and win32 exe. I think that it causes that issue

[2021-11-04 22:08] #588 closed

[2021-11-10 00:38] rtorr commented on #367
@asklar is there an example anywhere (or could there be one) of having a native module with view managers?

[2021-11-10 01:31] asklar commented on #367
yes please see the docs here https://microsoft.github.io/react-native-windows/docs/view-managers

[2021-11-10 14:17] tero-paananen commented on #586
Issue exists still, i update to latest Visual Studio 16.11.6.

[2021-11-11 07:01] #315 closed

[2021-11-11 09:48] tero-paananen commented on #586
To get package solution build with latest VS 16.11.6 i had to do some more "hacking"

https://developercommunity.visualstudio.com/t/visual-studio-2019-version-1610uwpxamarin-runtime/1437211

https://github.com/microsoft/microsoft-ui-xaml/issues/6195

I hope that VS 2022 might work better for this kind of projects.

[2021-11-11 09:53] tero-paananen commented on #586
Sorry to keep conversation in closed issue - i am not sure if conversation after close not allowed

[2021-11-11 20:13] cmachaca opened #593 "Outdated documentation."
### Page url

https://microsoft.github.io/react-native-windows/docs/view-managers

### Problem Description

Hello.
Is there a page where I can see all the documentation about the native components in windows? The documentation that exists is outdated and is not according to the version that is published.

[2021-11-11 21:14] asklar commented on #593
@cmachaca can you clarify what part is outdated / what doesn't match what is published?

[2021-11-11 21:20] cmachaca commented on #593
@asklar
I'm trying to create a native component like in the example and I can't get it up. The error is due to the fact that there are methods that do not exist. The examples also do not match what is in the repository.

[2021-11-11 21:43] asklar commented on #593
what specific methods do not exist? the documentation is correct to the best of my knowledge (it may be missing more features, but the contents we have in there are known to work). What version of RNW are you using? is this a C# or a C++ native module? what is the error you are getting?

[2021-11-11 23:00] cmachaca commented on #593
I develop in c ++. The examples that are in the react-native-windows repository I cannot start them because there are no methods like GetValue or SetValue. I am taking other projects as an example to be able to start them.

[2021-11-11 23:00] cmachaca commented on #593
@asklar
I develop in c ++. The examples that are in the react-native-windows repository I cannot start them because there are no methods like GetValue or SetValue. I am taking other projects as an example to be able to start them.

[2021-11-12 04:17] asklar commented on #593
@cmachaca I think you might be looking at the C# docs. Make sure you select C++:

![image](https://user-images.githubusercontent.com/22989529/141408610-ddaa8de0-99cc-43ae-9ae3-911b8954fc30.png)

[2021-11-12 18:20] TatianaKapos commented on #29
It looks like issue was created before react-native-gallery which has a page with examples of Popup. Wondering if that's a suitable solution to this instead of creating a new sample project to focus on just one component? @chrisglein

[2021-11-15 18:30] chrisglein commented on #29
Good point. If we have a solid sample of `Popup` in the Gallery app, then I don't think we need a separate one. Maybe the work here is to add a link from the [Popup API documentation](https://microsoft.github.io/react-native-windows/docs/popup-component) to the gallery sample?

I don't think we have "deep linking" support (the ability for an app to be launched not to its normal home page but some

[2021-11-15 19:00] chrisglein commented on #586
Not disallowed, just not as sure to get a response. We do have a bot that will lock stale closed issues, but we aren't there yet.

It looks like this was closed because we thought you were unblocked, but that doesn't seem to be the the case. Is that correct? If so, we can either reactivate or you can open a new issue (if indeed something was resolved but you're not hitting a new blocker further do

[2021-11-15 19:23] chrisglein commented on #593
Hope that meets your needs! Closing this issue assuming it does.

[2021-11-15 19:23] #593 closed

[2021-11-16 06:09] tero-paananen commented on #586
Reactivate this issue please. I have still problem to get this kind of solutions on 0.66 to build with for example VS 16.11.6.

[2021-11-17 22:27] jonthysell opened #602 "Autolink usage does not mention --no-telemetry option"
### Page url

https://microsoft.github.io/react-native-windows/docs/native-modules-autolinking

### Problem Description

Starting in https://github.com/microsoft/react-native-windows/pull/8253, there's a new `--no-telemetry` flag that needs to be captured in the docs.

[2021-11-18 19:15] creambyemute opened #603 "UIDispatcher how to return value/resolve/reject promise without crash? (Documentation unlcear)"
### Problem Description

I have two small native c++ modules which use the `Launcher::LaunchFileAsync` and `FileOpenPicker::pickSingleFileAsync`.

After upgrading from 0.63 to 0.65 we have to use the UIDispatcher in order for it to work. So I had a look at the following Documentation:
[Using UIDispatcher with C++/WinRT](https://microsoft.github.io/react-native-windows/docs/native-modules-async#usi

[2021-11-18 20:42] TatianaKapos commented on #101
I'm still seeing this issue running "yarn start", is there a solution to this? thanks! @NickGerleman @qmatteoq

[2021-11-19 08:43] creambyemute commented on #603
I have got it working now. Turns out, the comment `// unfortunately, lambda captures doesn't work well with winrt::fire_and_forget and co_await here
    // call asyncOp.Completed explicitly` in `ClipboardModule` is correct.

When using The `IAsyncOperation<T>` with `asyncOp.Completed` I can successfully resolve to the JS realm.

Is there any way to use `co_await` in this scenario? The code would b

[2021-11-24 19:43] TatianaKapos commented on #228
I was thinking of doing this example for EIM but after researching this, it seemed out-of-scope with the time I had. Thought I would add my research in case someone comes back to this!

Purpose: This is an app for viewing a editing image files. It also seemed to serve as a tutorial for creating XAML applications but the links for the tutorial are currently broken. Seems abandoned as last commit wa

[2021-11-25 00:42] TatianaKapos commented on #527
The only certificates left are in **Todosfeed and AppServiceDemo**. They both don't have workflows so the only work there would be to removing the certificate and updating the project file.

@qmatteoq Are you okay with me removing both certificates? I don't have much context for both apps so wanted to check in and make sure removing them won't break anything :)

[2021-11-27 19:25] NickGerleman opened #605 "Fix Lighthouse Warnings"
Lighthouse is a tool to discover common issues with web apps. It flagged several issues across the docs site, with actionable feedback on how they can be addressed.

[Desktop warnings](https://github.com/microsoft/react-native-windows-samples/files/7612303/RNW.Lighthouse.Warnings.pdf)

![image](https://user-images.githubusercontent.com/835219/143719626-535c6be8-7ea8-411e-98af-bda47dad4400.png)

[2021-11-29 19:15] chrisglein commented on #605
I'm curious what issues are shared with the RN core site and the Docusaurus infrastructure vs. specific to our articles and styles.

[2021-11-30 18:30] TatianaKapos commented on #32
Currently the C# samples we have are
- TodosFeed as a component.
- NativeModuleSample
- AppServiceDemo

Although the only standalone windows application is AppServiceDemo, it's complex so there's benefit having a simple C# example like Calculator.

[2021-12-02 23:45] #29 closed

[2021-12-03 00:32] chiaramooney commented on #258
Dupe of #533

[2021-12-03 00:32] #258 closed

[2021-12-03 19:38] chrisglein opened #608 "Out for the holidays! ❄😴⚛😊"
Many of our core contributors are taking some much needed vacation throughout December 2021. Thank you for being patient while we relax, recharge, and return to a normal responsiveness in January 2022. In the meantime feel free to continue to pose questions, open issues, and make feature requests - you just may not get a response right away.

[2021-12-07 18:09] #602 closed

[2021-12-08 20:37] AgneLukoseviciute opened #612 "Add "API Parity" page equivalent for macOS"
### Suggestion

The page currently[*](https://github.com/microsoft/react-native-windows-samples/pull/611) titled "API Parity" is the only page that really discusses the components/APIs we support & how we're working to stay up to date with RN Core. This page is linked under "The Basics (Windows)" and links to the rnw repo for milestones, open issues etc., it would make sense to have something simi

[2021-12-11 11:00] NickGerleman opened #613 ""Developing Windows apps on a non-Windows PC" Does not Address ARM64 Macs"
This page is targeted towards Mac users. They are all going to ARM64, for which the documented solution will not work.

[2021-12-28 18:11] chiaramooney commented on #139
Certificates were removed from Rssreader sample in #600. Issue should no longer apply. Closing issue now.

[2021-12-28 18:11] #139 closed

[2022-01-03 17:37] #608 closed

[2022-01-06 18:00] #574 closed

[2022-01-06 19:32] chrisglein commented on #612
@HeyImChris How much difference is there from iOS to macOS as far as API implementation parity? What common questions and content would you want to feature here on the website?

[2022-01-06 19:35] chrisglein commented on #613
@NickGerleman That page basically just tells you to run it in a VM. Is that not going to work with the move to ARM64? If not... what _is_ the solution? What are people doing? Running an Azure VM in a browser should still work, right?

[2022-01-06 20:10] HeyImChris commented on #612
At a high level, we try and keep macOS and iOS in as much parity as possible. If I were to try and categorize the issues, I'd start with the buckets of differences below. `Views` have the most differences by far, but various controls throughout the codebase may have an extra API here or there as we saw fit to add support for something.

As for common questions and content to feature here, could yo

[2022-01-06 21:46] #32 closed

[2022-01-06 23:37] chrisglein commented on #612
For context, here's the page for Windows (which I believe has some pending changes from the last month, but you get the gist): https://microsoft.github.io/react-native-windows/docs/next/parity-status

At times we've talked about documenting in detail the status of individual APIs. It was... a lot of work. Now the policy is more "if you find it doesn't work, open an issue", and the complete/incompl

[2022-01-06 23:56] #439 closed

[2022-01-08 07:47] JunielKatarn opened #621 "Update documentation on using mixed PackageReference and packages.config dependencies."
Projects using `PackageReference` that have source dependencies on projects using `packages.config` may need to declare such sources' NuGet dependencies in a `packages.config` file of their own.

Example. For project structure:
[code]

If `MyMainProject` has a source dependency on `MyDependencyProject`, because of the common NuGet/packages.config convention of placing NuGet packages inside directo

[2022-01-10 22:06] NickGerleman commented on #605
None of it is core Docusaurus

[2022-01-10 22:08] NickGerleman commented on #613
All but one of the listed options are x86 only. Parallels supports ARM64, but Windows doesn't officially allow consumers to license Windows for ARM64. The page also references downloading a Windows 10 dev environment, which doesn't support ARM64.

Basically none of the document applies to modern Macs, which was kind of the purpose of the doc to begin with.

[2022-01-10 22:41] asklar commented on #613
@NickGerleman Our team doesn't have expertise with macs, do you have some solutions/proposals? Feel free to send a PR to the docs!

[2022-01-12 19:41] jonthysell opened #620 "Some docs might be better served as "evergreen" static pages"
We have some docs pages that don't make sense to be versioned according to RNW version. It might make sense to migrate these to static pages, so they're both easier to maintain and make sure users are given the most correct information.

Potential pages:
* https://microsoft.github.io/react-native-windows/docs/supported-community-modules
* https://microsoft.github.io/react-native-windows/docs/win10

[2022-01-14 20:29] #533 closed

[2022-01-25 20:22] chiaramooney opened #630 "Fix Typo on WinUI3.md"
### Page url

https://microsoft.github.io/react-native-windows/docs/winui3

### Problem Description

Code snippet should use 0.XX-stable instead of canary: `npx react-native-windows-init --useWinUI3 --version canary --overwrite --language cpp`

Needs to be fixed for v0.63-0.66.

[2022-01-25 23:04] chrisglein commented on #94
I think we cover this well enough here: https://microsoft.github.io/react-native-windows/docs/native-code#win32-desktop-apps-vs-rnw-apps
Further evolution should be covered by WinAppSDK documentation.

[2022-01-25 23:04] #94 closed

[2022-01-25 23:17] chrisglein commented on #38
The arguments are documented here: https://microsoft.github.io/react-native-windows/docs/getting-started#install-the-windows-extension
Do we need more?

[2022-01-26 15:23] PrplHaz4 commented on #38
It might make sense to link back to [native-code-language-choice](https://microsoft.github.io/react-native-windows/docs/native-code-language-choice) in the same spot

[2022-01-31 17:52] #630 closed

[2022-01-31 18:11] jonthysell opened #633 "New "autolinked community module" sample (react-native-camera is being deprecated)"
### Suggestion

Right now, we use react-native-camera in the CameraDemo sample to verify that autolinking of a community module works, however it looks like that module might not be worked on in the future.

Specifically, it looks like [react-native-camera](https://github.com/react-native-camera/react-native-camera) is is being deprecated for [react-native-vision-camera](https://github.com/mrousav

[2022-01-31 19:19] jonthysell commented on #633
We would need to find another module that we can rely on as a good example of autolinking working across versions.

[2022-02-02 18:15] chiaramooney opened #634 "Update Samples to v0.67"
### Suggestion

Update Samples to v0.67.

### Platforms

Windows

### Sample code

_No response_

[2022-02-02 20:12] #342 closed

[2022-02-03 20:16] TatianaKapos commented on #634
**Checklist**
Can be upgraded to 67:
- [ ] Calculator
- [ ] CalculatorNuGet
- [ ] CameraDemo
- [ ] NativeModuleSample

Can't be upgraded to 67:
- AppServiceDemo
- RssReader
- TodosFeed

[2022-02-03 21:34] #527 closed

[2022-02-04 07:55] crutchcorn commented on #541
I'd be happy to build out examples and docs for `onMouseEnter` and `onMouseLeave` if that would be helpful :)

If so, though, I'd need to know what kind of sample we'd want (there seems to be a few options).

[2022-02-07 19:21] chrisglein commented on #101
There's a question about whether the samples should be locked in time to match their blog post, or move forward version to version. Let's discuss that and figure out what to do here.

[2022-02-08 17:30] TatianaKapos commented on #101
@chrisglein Here's a current list of the samples we don't upgrade during a release cycle
- AppServiceDemo -> follows an article on our [website](https://microsoft.github.io/react-native-windows/blog/2021/08/05/win32component)
- TodosFeed -> follows a blog post on [Windows AppConsult Blog](https://techcommunity.microsoft.com/t5/windows-dev-appconsult/getting-started-with-react-native-for-windows/ba

[2022-02-08 19:08] TatianaKapos commented on #541
@crutchcorn That would be super helpful if you have the time! I think we're still deciding what would be the best course to go with in term of MouseEvents.

@chrisglein IMO I would lean towards having a separate example app to demonstrate mouse events (Calculator is a pretty good simple app and I wouldn't want to further complicate it), especially since we may build upon mouse events in the future

[2022-02-10 21:16] #442 closed

[2022-02-14 18:59] #634 closed

[2022-02-19 00:11] jonthysell opened #645 "Dependency config documentation should be updated to reflect the nugetPackageLang and have an example for a nuget-based module"
### Page url

https://microsoft.github.io/react-native-windows/docs/config

### Problem Description

Dependency config documentation should be updated to reflect the nugetPackageLang and have an example for a nuget-based module

[2022-02-19 00:11] jonthysell commented on #645
Related task to add nugetPackageLang

[2022-02-19 00:49] jonthysell commented on #645
Part of https://github.com/microsoft/react-native-windows/issues/7227

[2022-02-19 00:53] jonthysell opened #646 "Update UseExperimentalNuget docs to reflect the impact on the app and community modules"
### Page url

https://microsoft.github.io/react-native-windows/docs/NuGet

### Problem Description

The idea is that the flag to toggle between consuming M.RN through source or binary distribution is a decision made by the app developer, and should align all projects (app and community module) around that decision.

[2022-02-19 00:54] jonthysell commented on #646
Part of https://github.com/microsoft/react-native-windows/issues/9580

[2022-02-24 22:46] jonthysell opened #647 "Website CI failing due to broken links to react-native-webview"
### Page url

https://github.com/microsoft/react-native-windows-samples/runs/5290139593?check_suite_focus=true

### Problem Description

Our docs have a bunch of links to files in the master branch of react-native-webview, but those files are now gone.

The links should be replaced with stable links to versions of those files from appropriate releases.

[2022-02-25 08:52] #647 closed

[2022-03-14 17:13] #254 closed

[2022-03-14 21:30] #580 closed

[2022-03-14 22:40] crutchcorn commented on #541
Just wanted to double-check on this - I'm still willing/wanting to write docs but want to make sure that I'm doing work that aligns with the goal here :)

Should it still be a docs page [`IKeyboardView`](https://microsoft.github.io/react-native-windows/docs/ikeyboardprops-api) and an example app?

[2022-03-14 22:50] crutchcorn commented on #103
I'd be happy to write this if that would be helpful

[2022-03-14 22:54] crutchcorn commented on #358
Related issues: #541 #9454

[2022-03-15 20:42] #101 closed

[2022-03-15 22:11] #586 closed

[2022-03-16 22:08] TatianaKapos commented on #541
@crutchcorn I think we're going to hold off on the example app as mouse events are in the process of being look at.

but our current documentation is definitely lacking so anything you can/want to add there (either creating or adding to a document page) would be much appreciated and I'm sure we'll get use out of! :)

[2022-03-17 00:45] jbcullis commented on #306
Any chance that sample exists yet?
We're working on a new app that will ideally heavily embrace shortcuts, at this stage I'm guessing we'll need to write a native module?
For example, we don't expect the user to be focused on an element for this to work, but instead will react based on active window.

[2022-03-22 17:29] kianrp commented on #634
@TatianaKapos comment says the XAML Island sample in TodosFeed is not upgradable to 67. Does it mean, support for XAML Islands is not available with 67 as of now. If so, what is the roadmap for supporting XAML Islands.

[2022-04-01 22:43] asklar commented on #285
tagging @dedavis6797

[2022-04-01 22:48] asklar commented on #367
closing this for now as we seem to be ok here; we may need to revise for winappsdk depending on what changes we make. CC @stmoy @AgneLukoseviciute

[2022-04-01 22:48] #367 closed

[2022-04-04 15:47] #621 closed, assigned to nobody

[2022-04-04 16:27] chrisglein opened #673 "Update sample repos to new version (tatianakapos), see upgrade procedure"

[2022-04-04 16:45] chrisglein opened #674 "Flip docs site to 0.68"

[2022-04-04 20:36] chiaramooney commented on #674
Done!

[2022-04-04 20:36] #674 closed

[2022-04-07 18:26] chrisglein opened #683 "How to enable the New Architecture in RNW 0.68"

[2022-04-07 18:26] chrisglein commented on #683
We need documentation about RNW's support level for opting into the new architecture.

[2022-04-13 07:06] VarunTwri opened #684 "Once we try to create a simple React windows application version 0.68 and tried to run the same facing below build failing issue"
### Page url

https://reactnative.dev/blog/2022/03/30/version-068#highlights-of-068

### Problem Description

Once we try to create a simple React windows application version 0.68 and tried to run the same facing below build failing issue.
Also could you please help me to switch to new ReactNative architecture.
![image](https://user-images.githubusercontent.com/102298041/163119146-e4139146-92e0-4b

[2022-04-13 07:59] VarunTwri opened #685 "Facing issue running react-native windows published application."
### Page url

NA

### Problem Description

While running Application in debug mode , through command npx react-native run-windows, application is running fine ,
But when we tried to create a package out of it and tried to run , the appx application is getting stucked .

Things tried:
We tried to trace the API calls , which flow is smooth and we are getting object in return.

Stucked App:
![image](

[2022-04-20 08:19] VarunTwri opened #686 "Unable to run the sampleProject."
### Sample

NativeModuleSample

### Problem Description

Unable to run sample application:
![image](https://user-images.githubusercontent.com/102298041/164183358-dd898fd7-49ff-4618-8886-fb12ff8d876d.png)

### Steps To Reproduce

1. Clone the Project.
2. hen, within either the cppwinrt or csharp folder, install the module's dependencies. If you have yarn installed:
npm install
3.npx react-native ru

[2022-04-21 18:29] jonthysell commented on #686
@TatianaKapos Can you see if the NativeModule C# sample can still be built with the instructions in it's readme?

[2022-04-25 19:06] TatianaKapos commented on #686
@jonthysell I'm not able to replicate this issue on my machine, seems to be running fine for me with both yarn/npm install.

![image](https://user-images.githubusercontent.com/42554868/165156920-19e3fbeb-98b2-493a-9508-92d4702ee48d.png)

[2022-04-25 19:16] TatianaKapos commented on #686
@jonthysell
Mine was building fine but after deleting/recloning the repository I was able to replicate at least some of the issue. It's building the solution but still can't find the project file.

![image](https://user-images.githubusercontent.com/42554868/165158190-9b909894-81a1-4ea7-a99a-747896090a31.png)

Work around is to run `npx react-native run-windows --no-deploy --no-launch --no-packager

[2022-04-27 19:58] TatianaKapos commented on #686
@VarunTwri does running `npx react-native run-windows --no-deploy --no-launch --no-packager --no-autolink --proj "NativeModuleSample\NativeModuleSample.csproj"` fix your build for the C# sample?

[2022-04-28 03:45] VarunTwri commented on #686
@TatianaKapos , no mam
getting below error
![image](https://user-images.githubusercontent.com/102298041/165672167-f5ddeb90-5e5e-43f6-82a0-8082a65221cf.png)

[2022-04-28 17:21] TatianaKapos commented on #686
@VarunTwri Would you mind rerunning the command with the --logging flag ad sharing the error? thanks!

[2022-05-02 11:09] VarunTwri commented on #686
8>D:\LatestSAmple\react-native-windows-samples\samples\NativeModuleSample\csharp\node_modules\react-native-windows\Microsoft.ReactNative\build\x64\Debug\Microso
       ft.ReactNative\Generated Files\winrt\Windows.ApplicationModel.Activation.h(10,10): fatal error C1083: Cannot open include file: 'winrt/impl/Windows.Applicatio
       nModel.Appointments.AppointmentsProvider.2.h': No such file or dir

[2022-05-02 11:10] VarunTwri commented on #686
@TatianaKapos
![image](https://user-images.githubusercontent.com/102298041/166224942-58257468-5056-4c0e-81d3-5d5773a9ea95.png)

[2022-05-02 18:33] TatianaKapos commented on #686
@VarunTwri It looks like you might be missing some dependencies, are you able to run the [dependency script](https://microsoft.github.io/react-native-windows/docs/rnw-dependencies) as well as `npx react-native info`?

[2022-05-03 03:54] VarunTwri commented on #686
@TatianaKapos , Yes i am able to run dependency script.

while running npx react-native info, getting below:
![image](https://user-images.githubusercontent.com/102298041/166402761-e1904c66-da9a-4548-8fea-2cdb9bbc35a5.png)

[2022-05-06 23:33] jonthysell commented on #541
@TatianaKapos Is this still something that makes sense for 0.69 or should it be moved to 0.70?

[2022-05-09 17:32] TatianaKapos commented on #541
@jonthysell I actually will have a PR later today to add this example to gallery, will hopefully make .69 but can be moved to .70 if needed

[2022-05-09 17:59] TatianaKapos commented on #686
@VarunTwri Sorry should have specified, can you run `npx react-native info` from the NativeModuleSample/csharp folder? and did the dependency script come up with all green checkmarks? thanks! :)

[2022-05-09 21:37] AgneLukoseviciute opened #697 "[TESTING]"
testing: https://github.com/microsoft/react-native-windows-samples/pull/695

[2022-05-09 21:50] #697 closed

[2022-05-09 21:50] AgneLukoseviciute opened #698 "Testing add-to-project workflow"

[2022-05-10 04:12] VarunTwri commented on #686
@TatianaKapos
![image](https://user-images.githubusercontent.com/102298041/167541121-59f07a17-9d6f-4651-9e62-73405dd77172.png)

[2022-05-10 18:23] #698 closed

[2022-05-19 18:01] #541 closed

[2022-06-14 11:44] AdamCiuris commented on #686
I was able to fix this by moving the project onto the drive my OS was installed on and turning off my windows antivirus which turned itself back on.

[2022-06-15 21:31] elmcapp opened #710 "Will React Native for macOS run on 10.12"
### Page url

https://microsoft.github.io/react-native-windows/docs/0.64/rnm-dependencies

### Problem Description

The docs say that the system requirements is macOS 10.13.   I just did a little testing and wanted to know what's prevent using React Native for macOS on version 10.12

I bring this up as the documents may be incorrect if it can run on 10.12

[2022-06-16 07:26] #686 closed

[2022-06-16 17:32] Saadnajmi commented on #710
As a rule, we generally only support N-2 releases of macOS for whatever our latest React Native macOS release is. So if React Native macOS version 0.64 was released when the latest macOS release was 10.15, we will support 10.15, 10.14, and 10.13.

We follow this rule to ensure we're using the latest Apple API's, and remove usage of deprecated API's. On new OS releases, Apple will frequently introd

[2022-06-16 17:51] asklar commented on #250
we've added docs on how to do that here: https://microsoft.github.io/react-native-windows/docs/win10-vm

[2022-06-16 17:51] #250 closed

[2022-06-16 18:22] #710 closed

[2022-07-26 02:02] asklar opened #720 "Use doxysaurus to publish Cxx APIs docs"
last year @vmoroz had looked into using docusaurus for producing docs for the other ones, is that ready to be used on the other C++-only APIs like ReactPackageProvider etc?

filing an issue to track adding these docs

_Originally posted by @asklar in https://github.com/microsoft/react-native-windows-samples/pull/719#discussion_r929456288_

[2022-07-28 18:18] chrisglein commented on #720
Work is to set up the pipelines to publish these docs automatically.

[2022-08-29 20:24] chrisglein opened #723 "Supported Community Modules listed `react-native-reanimated` in a way that is misleading"
### Page url

https://microsoft.github.io/react-native-windows/docs/supported-community-modules#community-modules

### Problem Description

See this comment: https://github.com/microsoft/react-native-windows/discussions/10433#discussioncomment-3477821

The way that table reads, it looks like the support for `reanimated` is better than it appears.
It is also incorrect for `rn-fetch-blob`.

The real

[2022-08-29 20:31] chiaramooney opened #757 "Sample for Multiple Windows"

[2022-09-06 19:05] jonthysell opened #726 "Website PRs/CI link checks fail intermittently with HTTP 520/521 errors"
### Page url

https://github.com/microsoft/react-native-windows-samples/runs/8213721063?check_suite_focus=true

### Problem Description

It appears that sometimes the links on our site point to sites that are "protected" by CloudFlare. When we use `unbroken` to check for dead links, sometimes Cloudflare will report an HTTP 520 or HTTP 521 error, causing the check to fail.

[2022-10-05 16:04] sameer-primelab opened #733 "Build fails with a long path"
### Sample

NativeModuleSample

### Problem Description

I am receiving this error for a missing Windows.ApplicationModel.Appointments.AppointmentsProvider.2.h
Has anyone encountered it ?

`PS C:\project\react-native-windows-samples-main\samples\NativeModuleSample\csharp> npx react-native run-windows --no-deploy --no-launch --no-packager --no-autolink --proj "NativeModuleSample\NativeModuleSample.

[2022-10-05 17:39] sameer-primelab commented on #733
@asklar Thank you for your quick reply.
However the error is still there with long paths turned on.
I dont really have that file winrt/impl/Windows.ApplicationModel.Appointments.AppointmentsProvider.2.h
however the winrt/impl/Windows.ApplicationModel.Appointments.AppointmentsProvider.h file is present in build directory after I run that command

`PS E:\projects\windows\react-native-windows-samples

[2022-10-05 19:10] asklar commented on #733
Ok, can you put the root of the repo higher up (e.g. `E:\rnws\...` instead of under `E:\projects\windows\react-native-windows-samples`)?
You may have to clean the build output first to get the tooling to generate some of the files that weren't generated due to long paths. To do this either open your project in Visual Studio, click on Build->Clean, or simply re-clone the repo higher up in the drive

[2022-10-05 19:43] sameer-primelab commented on #733
@asklar I confirm that reducing path length makes it work.
Thank you very much for your time.

[2022-10-05 19:43] #733 closed

[2022-10-24 16:44] jonthysell opened #734 "Add link to RN core support policy to RNW support policy doc"
### Page url

https://microsoft.github.io/react-native-windows/support

### Problem Description

RN has their new support policy doc here: https://github.com/reactwg/react-native-releases

We should link to it within our policy doc.

[2022-10-27 21:54] jonthysell opened #736 "Update rnw-dependencies for RNW 0.71"
### Page url

https://microsoft.github.io/react-native-windows/docs/next/rnw-dependencies

### Problem Description

Starting in RNW 0.71, developers will need to use VS 2022, and the rnw-dependencies.ps1 script has been updated to reflect that change.

So we'll need to update our docs with two options:

1. If you're building for RNW < 0.71, use link to script that installs VS 2019 dependencies.
2.

[2022-10-27 21:55] jonthysell commented on #736
Depends on https://github.com/microsoft/react-native-windows/pull/9916 getting merged.

[2022-10-31 18:27] #736 closed

[2022-11-09 18:21] jonthysell opened #738 "Update manual dependency list for upcoming RNW 0.71"
### Page url

https://microsoft.github.io/react-native-windows/docs/next/rnw-dependencies

### Problem Description

While the automatic dependency script is being updated, the manual steps for VS 2022 are a little stale.

[2022-11-10 23:52] TatianaKapos commented on #734
Linking the source page: https://github.com/microsoft/react-native-windows-samples/blob/main/website/pages/en/support.js

[2022-11-16 20:43] #738 closed

[2022-11-17 19:34] #734 closed